@charset 'utf-8';
/*公共样式*/

/*
*报告撰写样式
*/
body {
    font-family: "微软雅黑";
}

.no-display {
    display: none;
}

.bold {
    font-weight: bold;
}

.clear {
    clear: both;
}

.tc {
    text-align: center !important;
}

.tl {
    text-align: left !important;
}

.tr {
    text-align: right !important;
}

.m0 {
    margin: 0;
}

.p0 {
    padding: 0;
}

i {
    font-style: normal;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

label {
    display: initial;
    margin-bottom: 0px;
    font-weight: normal;
}

.pl20 {
    padding-left: 20px !important;
}

.grayColor {
    color: #999;
}


.container-fuild {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #333;
    font-family: "微软雅黑";
}

.container-fluid {
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.home-container-fluid {
    padding-right: 20px;
    padding-left: 0px;
}

.dialog {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    z-index: 9999;
}

.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.r-box {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
    /*z-index:10;
    visibility: visible;
    left: 17%;
    top:30px;
    width: 66%;
    height: 634px;*/
    /*padding:0px 10px 10px 10px;*/
    /*border-radius: 6px;-webkit-border-radius: 6px;
    -moz-border-radius: 6px;-o-border-radius: 6px;
    box-shadow: 2px 2px 2px #ebebeb;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);*/
}

.r-box h2 {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin: 0px 10px;
    padding: 0;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
    padding: 0px 10px;
}

.r-box .icon-close {
    position: absolute;
    right: 8px;
    top: 6px;
    cursor: pointer;
}

.icon-close {
    height: 20px;
    width: 20px;
    display: block;
}

.icon-close {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
}

.icon-close:before, .icon-close:after {
    content: '';
    height: 2px;
    width: 13px;
    display: block;
    background: #333;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    position: absolute;
    top: 9px;
    left: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.icon-close:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.icon-close:hover {
    opacity: 1;
}

#r2 {
    position: absolute;
    top: 40px;
    width: 100%;
    bottom: 0px;
}


/*结构树菜单*/
.menu-tree {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 100%;
    font-size: 12px;
    box-shadow: 4px 0px 10px -7px rgba(0,0,0,0.6);
    border-radius: 0 5px 0 0;
    padding: 10px 20px;
}

.menu-tree .tree-title {
    font-size: 13px;
    margin-bottom: 6px;
    position: relative;
    left: -6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menu-tree > ul {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
}

.menu-tree > ul:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 11px;
    left: 0;
    border: 1px dotted #999;
    border-width: 0 0 0 1px;
    z-index: 1;
}

.menu-tree > ul > li, .menu-tree > ul > ul > li {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
    cursor: pointer;
}

.menu-tree > ul > li > a, .menu-tree > ul > ul > li > a {
    position: relative;
    display: block;
    color: #666;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menu-tree > ul > li > a:hover, .menu-tree > ul > ul > li > a:hover {
    text-decoration: none;
    background: #eee;
    color: #1d8dfc;
}

.menu-tree-a {
    background: #eee;
    color: #1d8dfc !important;
}

.menu-tree > ul > li:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 12px;
    left: 0px;
    width: 10px;
    height: 0;
    border-top: 1px dotted #999;
    z-index: 1;
}

.menu-tree > ul > li > a > span, .menu-tree > ul > ul > li > a > span {
    display: inline-block;
    position: relative;
    top: 2px;
    left: 0px;
    margin-right: 8px;
}

.menu-tree > ul > ul {
    position: relative;
    top: 0px;
    left: 0px;
    margin-left: 18px;
}

.menu-tree > ul > ul:before {
    display: inline-block;
    content: "";
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    border: 1px dotted #999;
    border-width: 0 0 0 1px;
}

.menu-tree > ul > ul > li {
}

.menu-tree > ul > ul > li:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 12px;
    left: 2px;
    width: 10px;
    height: 0;
    border-top: 1px dotted #999;
    z-index: 1;
}

.icon-plus, .icon-minus {
    height: 13px;
    width: 13px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.icon-plus:before {
    display: block;
    content: "+";
    font-family: "Open Sans";
    font-size: 16px;
    position: absolute;
    top: -7px;
    left: 1px;
    z-index: 1;
    width: 12px;
    height: 12px;
    color: #555;
}

.icon-minus:before {
    display: block;
    content: "";
    font-family: "Open Sans";
    font-size: 16px;
    position: absolute;
    top: 5px;
    left: 2px;
    z-index: 1;
    width: 7px;
    height: 6px;
    border-top: 1px solid #555;
}

.icon-square {
    height: 13px;
    width: 13px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.st_tree a:hover {
    text-decoration: underline;
}
/* 菜单 */
.st_tree ul {
}
/* 菜单项 */
.st_tree ul li {
}
/* 子菜单 */
.st_tree ul ul {
}
/* 子菜单项 */
.st_tree ul ul li {
}
/* 子菜单的父节点 */
.st_tree .folder {
}
/* 展开的父节点 */
.st_tree .open {
}


.head-handle {
    position: relative;
    width: 100%;
    padding: 5px 0px;
}

.head-handle:hover {
    background: #f5f5f5;
}

.head-handle > li {
    display: inline-block;
    float: none;
}

.head-handle > li {
    padding: 2px 4px;
    font-size: 12px;
    color: #000;
    border-radius: 2px;
    margin-right: 4px;
    cursor: pointer;
}

.head-handle > li:first-of-type {
    margin-left: 0px;
}
/*.head-handle>li .head-handle-focus{
border:dotted 1px #777;
display:inline-block;
}*/
.head-handle > li > a {
    display: inline-block;
    padding: 0px;
    color: #000;
}

.head-handle > li > span, .head-handle > li > a > span {
    margin-right: 4px;
    font-size: 13px;
    position: relative;
    top: 2px;
}

.head-handle > li > span {
    margin-right: 4px;
    font-size: 13px;
    position: relative;
    top: 2px;
    color: #555;
}

.icon-copy {
    display: inline-block;
    position: relative;
    width: 13px;
    height: 13px;
    background: url(../icon/u8-copy-s.png) no-repeat;
    background-size: 13px 13px;
}
/*.head-handle>li .glyphicon-ok{
	color:#66cd00;
}
.head-handle>li .glyphicon-ban-circle{
	color:#dd0000;
}
.head-handle>li .glyphicon-plus{
	color:#66cd00;
}
.head-handle>li .glyphicon-upload{
	color:#66cd00;
}*/
.icon-menu {
    width: 16px;
    height: 14px;
    display: inline-block;
    position: relative;
    top: 0px;
    left: 0px;
}

.icon-menu:before {
    content: '';
    height: 2px;
    width: 14px;
    background: #333;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    box-shadow: 0 5px #333, 0 10px #333;
    -webkit-box-shadow: 0 5px #333, 0 10px #333;
    -moz-box-shadow: 0 5px #333, 0 10px #333;
}

.head-handle > li input[type="checkbox"] {
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.r-con {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
    height: calc(100% - 30px);
    /*padding-bottom: 20px;*/
}

.r-part, .r-part fieldset {
    position: relative;
    width: 100%;
}

.r-part {
    padding: 10px 0px;
}

.r-part fieldset legend {
    position: relative;
    display: inline-block;
    margin: 0;
    border: none;
    width: initial;
    line-height: 16px;
    cursor: pointer;
}

.r-part fieldset legend span {
    color: #555;
    font-size: 12px;
    margin-right: 4px;
}

.r-part fieldset legend span:hover {
    color: #1d8dfc;
}

.r-part fieldset legend small {
    color: #1d8dfc;
    font-size: 12px;
}

.r-part + .r-titletab {
    margin-top: 20px;
}

.r-partcon, .r-partcon .row {
    position: relative;
    width: 100%;
    margin: 10px 0px;
    padding-left: 50px;
}

.r-partcon {
    margin-top: 0px;
}

.r-partcon .row, .r-partcon .row .col-md-4, .r-partcon .row .col-md-6, .r-partcon .row .col-md-12 {
    margin: 0;
    padding: 0;
}

.r-partcon .row .col-md-4,
.r-partcon .row .col-md-6,
.r-partcon .row .col-md-12 {
    line-height: 26px;
    font-size: 12px;
    color: #999;
}

.ht26 {
    height: 26px;
}

.r-partcon .row .col-md-4 i, .r-partcon .row .col-md-6 i, .r-partcon .row .col-md-12 i {
    color: #333;
    /*margin-left:4px;*/
}

.r-partcon .row .col-md-4 i div, .r-partcon .row .col-md-6 i div, .r-partcon .row .col-md-12 i div {
    display: inline-block;
}

.r-partcon .row .midselect {
    position: relative;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 24px;
}

.r-partcon .row textarea {
    position: relative;
    height: 50px;
}

.r-partcon .row select, .r-partcon .row input {
    margin-left: 6px;
    color: #000;
}

.r-partcon .row input[type="text"] {
    color: #000;
}

.r-partcon .row input[type="checkbox"] {
    position: relative;
    top: 2px;
    margin-right: 4px;
    cursor: pointer;
}

/*基本信息*/
.basicstyle .col-md-6, .basicstyle .col-md-12 {
    margin-bottom: 10px !important;
}

.r-partcon .row .col-md-6 .smallinput, .r-partcon .row .col-md-12 .smallinput {
    position: relative;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 60%;
    height: 25px;
    background: none;
    /*margin-left: 6px;*/
}

.r-partcon .row .col-md-6 .adaptive-i .threearea {
    position: relative;
    width: 100%;
    height: 80px;
    padding: 8px;
    line-height: 20px;
    font-size: 12px;
}

.entire-row {
    position: relative;
    width: 100%;
}

.entire-row label, .entire-label {
    text-align: right;
    display: inline-block;
}

.entire-label {
    width: 120px;
}

.adaptive-input {
    position: relative;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ccc;
    height: 25px;
    width: calc(100% - 140px);
    background: none;
}

.adaptive-i {
    position: relative;
    display: inline-block;
    height: 25px;
    width: calc(100% - 140px);
}

.r-partcon .row .col-md-6 button {
    height: 24px;
    line-height: 18px;
    color: #333;
}

.basicstyle .col-md-12 .threearea {
    position: relative;
    width: 100%;
    height: 80px;
    padding: 8px;
    line-height: 20px;
    font-size: 12px;
    border: 1px solid #ccc;
}

.dis-block {
    display: block;
}

.r-contain {
    position: relative;
    /*width: 100%;*/
    margin-left: 210px;
    padding-right: 10px;
    height: calc(100% - 0px);
    overflow-y: auto;
    box-shadow: 4px 0px 10px -7px rgba(0,0,0,0.6);
    padding-bottom: 10px;
}

.r-titletab {
    position: relative;
    width: 100%;
    height: 24px;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
}

.r-titletab p {
    float: left;
    position: relative;
    display: inline-block;
    height: 24px;
    padding: 0px 10px;
    margin: 0px;
    border-right: 1px solid #ddd;
    cursor: pointer;
}

.r-tab-on {
    color: #1d8dfc;
    border: 1px solid #1d8dfc !important;
    border-bottom: 1px solid #fff !important;
}

.r-titletab p span {
    position: relative;
    top: -3px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
}

.r-titletab p span:hover {
    color: #1d8dfc;
}

.r-titletab p .icon-close {
    position: relative;
    top: 3px;
    right: 0px;
    left: 3px;
    display: inline-block;
    margin: 0px;
}

/*图片列表*/
.imglist {
    position: relative;
    width: 100%;
    font-size: 12px;
}

.imglist li {
    position: relative;
    width: 17%;
    display: inline-table;
    margin: 0px 20px 20px 20px;
}

.imglist li span {
    display: block;
    position: relative;
    width: 100%;
    min-height: 20px;
    line-height: 20px;
    margin: 0px;
    /*white-space:nowrap;
text-overflow: ellipsis;
overflow:hidden;*/
}

.imglist li img {
    position: relative;
    width: 100%;
    height: 180px;
}

.imglist li .imgreplace {
    position: relative;
    width: 100%;
    height: 180px;
    display: inline-block;
    background: url(/content/images/common/default2.jpg) no-repeat;
    background-size: 100% 180px;
}

.imglist li p {
    height: 30px;
    margin: 0px;
    padding: 0px;
}

.imglist li p i {
    float: right;
    font-size: 16px;
    text-align: center;
    color: #888;
    cursor: pointer;
    display: inline-block;
    /*width:30px;*/
    margin-top: 5px;
}

.imglist li p i + i {
    margin-right: 10px;
}

.imglist li p .glyphicon-trash {
    /*float:right;*/
}

.imglist li p i:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.imglist li p label {
    height: 30px;
    line-height: 30px;
}

.imglist li p label input[type="checkbox"] {
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.imglist li p label .sort-input {
    position: relative;
    top: -2px;
    height: 24px;
    width: 45px;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 12px;
}

.imglist li p label .glyphicon-sort {
    float: left;
    margin-left: 3px;
}

.imglist li span {
    min-height: 20px;
}



/*地图位置*/
.maplocal, .maplocal .row {
    position: relative;
    width: 100%;
    height: 540px;
}

.maplocal .row, .maplocal .row .col-md-10, .maplocal .row .col-md-2 {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}

.maplocal .row .col-md-10 {
    position: relative;
    height: 540px;
}

.maplocal .row .col-md-10 .longitude {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0px;
}

.maplocal .row .col-md-2 {
    position: relative;
    padding-left: 10px;
}

.maplocal .row .col-md-2 .mapside {
    position: relative;
}

.mapside, .mapside p {
    position: relative;
    width: 100%;
    line-height: 30px;
    margin: 0px;
    font-size: 12px;
}

.mapside .imglist {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.mapside .imglist li {
    width: 100%;
    margin: 0px 0px 20px 0px;
}

.mapside .imglist li img {
    height: 120px;
}



/*实景图片*/
.head-handle > li > a button .glyphicon-upload {
    position: relative;
    top: 2px;
    color: #555;
    margin-right: 4px;
    font-size: 14px;
}

.head-handle > li > a > i > input[type="checkbox"] {
    position: relative;
    top: 2px;
    margin-right: 4px;
}

.head-handle > li > a > .midselect {
    position: relative;
    /*top:2px;*/
}

.statePic {
    position: relative;
    width: 100%;
    display: flex;
    display: -ms-flex;
    height: 100%;
    overflow: hidden;
}

.statePic-left {
    display: inline-block;
    position: relative;
    width: calc(100% - 430px);
    border: 1px solid #ccc;
}

.statePic-left-view {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    /*border: 1px solid #ccc;*/
    height: calc(100% - 50px);
}

.statePic-right {
    display: inline-block;
    position: relative;
    width: 430px;
    /*height:600px;*/
    overflow-y: auto;
}

.statePic-right .head-handle {
    padding: 5px 4px;
    position: fixed;
    width: 410px;
    z-index: 9;
    background: #eee;
}

.statePic-right .head-handle > li {
    margin-right: 1px;
}

.statePic-right .head-handle > li + li {
    margin-left: 0px;
}

.statePic-right .imglist {
    position: relative;
    top: 40px;
    z-index: 0;
    /*overflow-y: auto;*/
    height: calc(100% - 38px);
}

.statePic-right .imglist li {
    width: 47%;
    height: 100px;
    margin: 0px 0px 20px 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.statePic-right .imglist li img {
    max-width: 100%;
    width: auto;
    height: 100px;
}

.statePic-right .imglist li .imgreplace {
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
}

.statePic-right .imglist li p .glyphicon-trash {
    margin-right: 10px;
}

.statePic-bottom {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 50px;
    padding: 0px 10px;
}

.statePic-bottom ul {
    padding: 10px 0px;
}

.statePic-bottom ul li {
    display: inline-block;
}

.statePic-bottom ul li input[type="checkbox"] {
    position: relative;
    top: 2px;
}

.statePic-bottom ul li + li {
    margin-left: 10px;
}




/*权利登记*/
.selectpower .col-md-3 {
    margin: 0;
    padding-left: 0px;
    font-size: 12px;
}

.selectpower .col-md-3 i {
    position: relative;
    display: inline-block;
}

.selectpower .col-md-3 i .fanginput {
    width: 20px;
    height: 20px;
    line-height: 18px;
}

.power {
    position: relative;
    width: 100%;
    padding-left: 0px;
    font-size: 12px;
}

.power .row .col-md-6 {
    position: relative;
    padding: 0;
    margin: 0;
    /*width:400px;*/
}

.power .row .col-md-6 p {
    position: relative;
    min-height: 36px;
    margin: 0;
    padding: 0;
}

.power .row .col-md-6 p label {
    font-size: 12px;
    font-weight: normal;
    margin-right: 6px;
    color: #999;
    width: 200px;
    text-align: right;
    position: relative;
}

.power .row .col-md-6 p i {
    max-width: 80%;
    text-align: left;
}

.power .row .col-md-6 p .powerinput {
    border: none;
    width: 55%;
    border-bottom: 1px solid #ccc;
    background: none;
}

.power .row .col-md-6 {
    position: relative;
    margin: 0;
    padding: 0;
    /*width:calc(100% - 420px);*/
}

.power .row .col-md-6 .imglist li {
    width: 220px;
    margin: 0px 0px 20px 0px;
}

.power .row .col-md-6 .imglist li p label {
    width: 80px;
    text-align: left !important;
}

.power .row .col-md-6 .imglist li img {
    max-width: 100%;
    /*width:auto;*/
    max-height: 350px;
}

.power .row .col-md-6 .power-btn {
    display: block;
    position: relative;
    top: 4px;
    left: 4px;
    margin-bottom: 10px;
}

/*选择权证弹出框*/
.warrant-box {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -150px;
    /*width:300px;*/
    background: #fff;
    color: #333;
    z-index: 10;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 2px 2px 2px #ebebeb;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.warrant-box h3 {
    position: relative;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    padding: 0px 4px;
    margin: 0px 10px;
    border-bottom: 1px solid #e5e5e5;
}

.warrant-box h3 .icon-close2 {
    position: absolute;
    top: 4px;
    right: 0px;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-close2:before, .icon-close2:after {
    content: '';
    height: 2px;
    width: 13px;
    display: block;
    background: #333;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    position: absolute;
    top: 9px;
    left: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.icon-close2:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.warrant-box h4 {
    position: relative;
    height: 20px;
    font-size: 12px;
    padding: 0px 0px;
    text-align: center;
}

.warrant-box h4 i {
    color: red;
}

.warrant-box h4 button {
    height: 24px;
    border: 1px solid #999;
}

.warrant-box h4 button + button {
    margin-left: 10px;
}

.warrant-con {
    position: relative;
    padding: 10px 14px 0px 14px;
}

.warrant-con ul, .warrant-con ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.warrant-con ul li {
    height: 30px;
    font-size: 12px;
}

.warrant-con ul li p {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.warrant-con ul li input[type="text"] {
    height: 24px;
}

.warrant-con ul li input[type="checkbox"] {
    display: inline-block;
    position: relative;
    top: 2px;
}

.warrant-con ul li .sortinput {
    position: relative;
    left: 1px;
}

.sortinput {
    width: 22px;
    height: 22px;
    text-align: center;
}

.form-horizontal .control-label {
    padding-top: 0;
    line-height: 28px;
}


/*表格数据*/
.table-data, .table-data table {
    position: relative;
    width: 100%;
    font-size: 12px;
    /*border-collapse:separate;*/
    border-spacing: 1px 0px;
}

.table-data table thead tr {
    position: relative;
    width: 100%;
    line-height: 26px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.table-data table tbody tr {
    position: relative;
    width: 100%;
    line-height: 26px;
}

.table-data table tbody tr:nth-child(2n) {
    background: #f5f5f5;
}

.table-data table tbody tr:hover {
    background: #ddd;
    color: #ff5100;
}

.table-data table tbody tr td {
}

.table-data table tbody tr td .glyphicon-minus-sign {
    color: #ff5100;
}

.table-data table tbody tr td input {
    display: inline-block;
    position: relative;
    left: 5%;
    width: 90%;
    border: none;
    background: none;
    text-align: center;
}

.table-data table tbody tr td:first-child {
    width: 26px;
    text-align: center;
}


/*价值计算*/
.value-data, .value-data table {
    position: relative;
    width: 100%;
    font-size: 12px;
    /*border-collapse:separate;*/
    border-spacing: 1px 1px;
}

.value-data table thead tr {
    position: relative;
    width: 100%;
    line-height: 26px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
}

.value-data table thead tr i {
    margin-right: 10px;
    display: inline-block;
}

.value-data table tbody tr {
    position: relative;
    width: 100%;
    line-height: 26px;
    text-align: center;
}

.value-data table tbody tr:nth-child(2n) {
    background: #f5f5f5;
}

.value-data table tbody tr:hover {
    background: #ddd;
}

.value-data table tbody tr select {
    margin-left: 4px;
    width: 220px;
}

.value-data table tr input[type="checkbox"] {
    position: relative;
    top: 4px;
}

.value-data table tr input[type="radio"] {
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.value-data table tr input[type="text"], .value-data table tr input[type="number"] {
    height: 26px;
    border: none;
    background: none;
    border-bottom: 1px solid #ccc;
}

.value-data table tr {
}

.value-data2 table tr td:first-child {
    width: 30%;
}

.value-data2 table tr td button {
    height: 24px;
    line-height: 18px;
    color: #333;
}
/*抵押价值*/
.value3 .col-md-12 i {
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

.value3 .col-md-12 .value3-item {
    position: relative;
    display: inline-block;
    padding-left: 200px;
}

.value3 .col-md-12 label {
    position: absolute;
    top: 0px;
    left: 0px;
}

.value3 .col-md-12 .value3-item i {
    display: block;
}

.value3 .col-md-12 button {
    margin-left: 15px;
}



/*报告撰写*/
/*附件*/
.fr {
    float: right;
}

.fl {
    float: left;
}

.fanginput {
    width: 22px;
    height: 22px;
    border: 1px solid #ccc;
    padding: 0px 2px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
}

.attachment .fanginput {
    position: absolute;
    top: 0px;
    left: 200px;
}

.model-btn {
    height: 24px;
    line-height: 18px;
    color: #333;
}

.model-btn + .model-btn {
    margin-left: 10px;
}

.btn-right {
    position: absolute;
    right: 100px;
}

.smalltitle {
    position: relative;
    left: 0px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
}

.r-partcon .row .largeselect {
    position: relative;
    left: 6px;
    top: 0px;
    width: 70%;
    height: 24px;
}

.showbox {
    display: none;
    position: absolute;
    left: 0px;
    margin-left: 6px;
    background: rgba(204, 204, 204, 0.6);
    padding: 10px;
    font-size: 12px;
    line-height: 22px;
    z-index: 99;
}
/*.showbox:after,.showbox:before {
bottom: 100%;
left: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}
.showbox:after {
border-color: rgba(204, 204, 204, 0);
border-bottom-color: #ccc;
border-width: 8px;
margin-left: -8px;
}
.showbox:before {
border-color: rgba(255, 255, 255, 0);
border-bottom-color: #fff;
border-width: 9px;
margin-left: -9px;
}*/
.showbox p {
    margin: 0px;
    padding: 0px;
}

.showbox p input[type="radio"], .showbox p input[type="checkbox"] {
    position: relative;
    top: 2px;
    margin-right: 4px;
    cursor: pointer;
}

.showbox .showbox-btns {
    text-align: center;
}

.showbox .showbox-btns button {
    height: 24px;
    line-height: 18px;
    color: #333;
}

.showbox .showbox-btns button + button {
    margin-left: 10px;
}

.focuson {
    position: relative;
}

/*地图标签*/
.BMapLabel {
    max-width: 1000px !important;
}

.mapNavLeft {
    display: flex;
    float: right;
}

.mapNavLeft li {
    margin-left: 6px;
}



/*图片上传样式*/
.uploadimg {
    position: relative;
}

.uploaddiv {
    position: relative;
    margin: 10px 0px;
}

.uploadbtn {
    position: relative;
    top: -21px;
    left: 0px;
    width: 54px;
    height: 34px;
}

.uploadbtn #upfileload {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 54px;
    height: 34px;
}

.uploadtips {
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
}

.uploadimg table {
    position: relative;
    width: 100%;
    font-size: 12px;
}

.uploadimg table tr td {
    text-align: center;
}

.uploadimg table thead {
    background: #f5f5f5;
    line-height: 40px;
}

.uploadimg table tbody tr {
    height: 90px;
    border-bottom: 1px solid #f5f5f5;
}

.uploadimg table tbody tr:last-child {
    border-bottom: none;
}

.uploadimg table tbody tr img {
    width: 70px;
    height: 70px;
}

.uploadimg table tbody tr td:last-child {
    text-align: center;
}

.uploadimg table tbody tr td:last-child i {
    display: block;
    cursor: pointer;
}

.uploadimg table tbody tr td:last-child i span {
    color: #555;
    margin-right: 3px;
}

.uploadimg table tbody tr td:last-child i + i {
    margin-top: 6px;
}

.uploadimg table tbody tr td:last-child i:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
}

.uploadimg table tbody tr td .uploadtitle {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: none;
}

.uploadtitle:focus {
    box-shadow: none;
}

.uploadsort {
    width: 30px;
}

.watermark {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}

.watermark input[type="radio"] {
    margin: 2px;
}

.labelfixed {
    display: inline-block;
    position: relative;
    top: -65px;
    margin-right: 6px;
    width: 120px;
    text-align: right;
}

.labelfixed2 {
    display: inline-block;
    position: relative;
    top: 0px;
    margin-right: 6px;
    width: 120px;
    text-align: right;
}

/*上传*/
.uploadbox {
    padding: 0 5px 0 20px !important;
}

.uploadbox, .uploadbox .row, .uploadbox .row .col-md-12 {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.uploadbox .row .col-md-6 {
    margin: 0px;
    padding: 0px;
}

.uploadbox .code-info {
    width: 320px;
}

.uploadbox .row .col-md-12 {
    min-height: 24px;
}

.uploadbox .row .col-md-12 label {
    margin-right: 4px;
}

.uploadcode {
    position: relative;
    margin-bottom: 14px !important;
}

.codediv {
    position: relative;
    width: 100%;
    height: 200px;
    display: inline-block;
    margin: 3px 0 0 5px;
}

.codeimg {
    position: relative;
    top: 0px;
    left: 0px;
    width: 185px;
    height: 185px;
    vertical-align: top;
    margin: 5px 5px 0 0;
}

.codetips {
    position: relative;
    display: inline-block;
    width: 210px;
}

.codetips p {
    font-size: 12px;
}

.codediv .code-btn {
    position: relative;
}

.code-btn button {
    display: inline;
}

.code-btn button:last-child {
}

.disablebtn {
    border: 1px solid #ccc;
    background: #f5f5f5;
    color: #999;
}

.selectfile {
    position: relative;
    width: 466px;
    height: 24px;
    padding: 0px;
    display: inline-block !important;
}

/*.code-textarea label {
    position: relative;
    top: -46px;
}*/

.code-textarea textarea {
    position: relative;
    top: 10px;
    left: -3px;
    width: calc(100% - 120px);
    height: 75px;
    padding: 4px 10px;
    line-height: 20px;
}

.codeupload-btn {
    margin-top: 12px;
    width: 140px;
}

/*报告审核*/
.audit-table-data, .audit-table-data table {
    position: relative;
    width: 100%;
    font-size: 12px;
    border-spacing: 1px 0px;
}

.audit-table-data table thead tr {
    position: relative;
    width: 100%;
    line-height: 26px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.audit-table-data table tbody tr {
    position: relative;
    width: 100%;
    line-height: 26px;
}

.audit-table-data table tbody tr:nth-child(2n) {
    background: #f5f5f5;
}

.audit-table-data table tbody tr:hover {
    background: #ddd;
    color: #333;
}

.audit-table-data table tbody tr td {
}

.audit-table-data table tbody tr td .glyphicon-minus-sign {
    color: #ff5100;
}

.audit-table-data table tbody tr td input {
    display: inline-block;
    position: relative;
    left: 5%;
    width: 90%;
    border: none;
    background: none;
    text-align: center;
}

#auditPrintdiv .r-partcon i {
    padding-left: 6px;
}


/*登陆界面*/
/*.login{
	position: absolute;
	top:0;left:0;
	width: 100%;
	height:100%;
	overflow:hidden;
	background-color:#333;
}
.loginDiv{
	position: fixed;
	left: 50%;
    top: 50%;
    margin-left: -683px;
    margin-top: -384px;
    width: 1366px;
    height: 768px;
	background: url(../Content/images/caa.jpg);
}
.loginBox{
	position: absolute;
	top:45%;
	left:50%;
	margin-left: -220px;
	width:440px;
	height:166px;
	background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 5px 5px 0 0;
    opacity: 0.95;
    box-shadow: 0 0 12px 1px rgba(0,0,0,0.3);
    z-index:2;
}
.loginBox .logintitle{
	border-radius: 5px 5px 0 0;
    background: #ff7f1c;
    background: -webkit-linear-gradient(top,#ffa427 10%,#ff7f1c 70%,#ff5a10);
    background: linear-gradient(to bottom,#ffa427 10%,#ff7f1c 70%,#ff5a10);
    color: #fff;
    text-shadow: 0 0 4px rgba(0,0,0,0.3);
    padding: 5px 10px;margin:0px;
    color:#fff;
    font-weight: bold;
}
.loginbody{
	position: relative;
	width:100%;
	height:134px;
	background-color: #ececec;
}
.logintips{
	font-size:12px;
	padding:10px;
	margin:0px;
}
.loginuser{
	position: relative;
	padding:0px 10px;
	height:24px;
	margin:0px;
	font-size:12px;
}
.loginuser label{
	position: absolute;
	left:0px;top:0;
	text-align: right;
	width:150px;
	height:24px;
	line-height:32px;
	color:#777;
}
.loginuser input{
	position: absolute;
	left:166px;
	width:260px;
	height:24px;
	background: none;
	border:none;
	border-bottom: 1px solid #cecece;
}
.loginuser input:hover{
	border-bottom: 1px solid #ff5a10;
}
.loginuser:focus{
	outline:none;
	border-bottom: 1px solid #5275b5;
}
.login-btn{
	position: absolute;
	right:10px;
	bottom:10px;
	border-radius: 3px;
    color: #333;
    font-size: inherit;
    font-weight: bold;
    padding: 5px 15px;
    height: 25px;
    min-width: 90px;
    line-height: 15px;
    text-align: center;
    vertical-align: inherit;
    display: inline-block;
    white-space: nowrap;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ccc;
    -moz-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
    background-color: #f2f2f2;
    background: linear-gradient(to bottom,#fff 0%,#f2f2f2 80%,#e6e6e6 100%);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.login-btn:focus{
	outline:none;
	color:#ff5a10;
	-webkit-border-radius:3px;-moz-border-radius:3px;
	box-shadow: 0 0 0 1px #ff5a10;
	border-color:#ff5a10;
	text-shadow:1px 1px 0 #e6e6e6;
	box-shadow:0 1px 3px rgba(0,0,0,0.3) inset;
	-moz-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}
.login-btn:hover{
	color:#ff5a10;

}*/


/*个人设置*/
/*修改资料*/
.modify-data {
    position: relative;
    left: 25%;
    width: 50%;
}

.redcolor {
    color: red;
}

.modify-data .row {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.modify-data .row .col-md-3, .modify-data .row .col-md-9 {
    position: relative;
    min-height: 36px;
}

.modify-data .row .col-md-9 input[type="text"], .modify-data .row .col-md-9 input[type="password"] {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 90%;
}

.modify-data .row .col-md-9 input[type="text"]:focus, .modify-data .row .col-md-9 input[type="password"]:focus {
    outline: none;
    border-bottom: 1px solid #337ab7;
}

.modify-data .row .col-md-3 {
    text-align: right;
}

.modify-data .row .col-md-9 {
    position: relative;
}

.modify-data .row .col-md-9 small {
    margin-right: 20px;
    position: relative;
    top: -4px;
}

.modify-data .row .col-md-9 small input[type="radio"] {
    position: relative;
    top: 2px;
    margin-right: 4px;
}

.selectinput {
    position: relative;
    width: 300px !important;
}
/*
.selectfile{
	position: absolute;
	right:54px;
	top:0px;
	width:50px;
	height:22px;
}
.selectfile input{
	position: absolute;
	top:0px;left:0px;
	width:50px;
	height:22px;
	opacity: 0;
	z-index:2;
}
.selectfile button{
	position: absolute;
	top:0px;left:0px;
	width:50px;
	height:22px;
}
*/
.signature {
    position: relative;
    width: 300px;
    height: 100px;
}

.modify-password .row {
    margin: 20px 0px;
}




/*项目详情*/
.item-info {
    position: relative;
    width: 100%;
}

.itemdiv {
    position: relative;
    /*margin:10px;*/
}


.item-con {
    position: relative;
}

.item-con .row, .item-con .col-md-12, .item-con .col-md-6, .item-con .col-md-1, .item-con .col-md-5, .item-con .col-md-11, .item-con .col-md-3, .item-con .col-md-4, .item-con .col-md-7, .item-con .col-md-10, .item-con .col-md-2 {
    margin: 0;
    padding: 0;
    min-height: 28px;
    line-height: 28px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.item-con .col-md-1 small, .item-con .col-md-2 small {
    color:#999;
    width: 100%;
    text-align: right;
    padding-right: 10px;
    position: absolute;
    top: 0px;
    left: 0;
    line-height: 28px;
    font-size: 12px;
}

.item-con .col-md-5, .item-con .col-md-4, .item-con .col-md-10, .item-con .col-md-3, .item-con .col-md-9, .item-con .col-md-11 {
    margin-bottom: 6px;
}

.item-con .col-md-5 select, .item-con .col-md-5 select,
.item-con .col-md-5 input[type='text'], .item-con .col-md-5 input[type='text'] {
    position: relative;
    width: 100%;
    /*margin-bottom: 10px;*/
}

.item-con .col-md-5 .select-half, .item-con .col-md-11 .select-half, .item-con .col-md-3 .select-half {
    width: 48%;
    display: inline-block;
}

.item-con .col-md-5 .select-half:nth-of-type(2n), .item-con .col-md-11 .select-half:nth-of-type(2n), .item-con .col-md-3 .select-half:nth-of-type(2n) {
    float: right;
}

.ml0 {
    margin-left: 0px !important;
}

.item-con .col-md-5 .itemrequire, .item-con .col-md-11 .itemrequire {
    position: relative;
    width: 100%;
    margin-bottom: 6px;
}

.item-con .col-md-11 .checkbox {
    position: relative;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 5px;
    display: inline-block;
    height: 30px;
}

.item-con .col-md-11 .checkbox label {
    margin-right: 20px;
}

.itemdivtab {
    padding-bottom: 0px;
    border-bottom: none;
}



.itemdiv .nav-tabs > li {
    cursor: pointer;
}

.itemdiv .nav-tabs > li > a {
    padding: 4px 10px;
    color: #fff;
}

.itemdiv .nav-tabs > li > a:hover, .itemdiv .nav-tabs > li > a:focus, .itemdiv .nav-tabs > li > a:active, .itemdiv .nav-tabs > li.active a {
    color: #555;
}

.item-con .btn .glyphicon {
    position: relative;
    top: 2px;
    margin-right: 4px;
}

.table > tbody > tr > td > span {
    cursor: pointer;
}

.mt10 {
    margin-bottom: 10px;
}

.item-con .table {
    /*border:1px solid #ccc;*/
    border-radius: 4px;
}

.item-con .table thead {
    font-weight: bold;
}

.itemdiv .item-submit {
    position: absolute;
    top: 4px;
    right: 85px;
}

.itemdiv .item-save {
    position: absolute;
    top: 4px;
    right: 15px;
}

.itemdiv .item-submit span, .itemdiv .item-save span {
    margin-right: 3px;
}

.itemdiv .item-save-charge {
    position: absolute;
    top: 4px;
    right: 105px;
}

.itemdiv .item-confirm {
    position: absolute;
    top: 4px;
    right: 15px;
}

/*按钮样式*/
.btn-default2 {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default2:hover, .btn-default2:focus, .btn-default2:active, .btn-default2.active, .open .dropdown-toggle.btn-default {
    color: #1D8DFC;
    background-color: #c4e5ff;
    border-color: #c4e5ff;
}

.btn-default2:active, .btn-default2.active, .open .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #1D8DFC;
    border-color: #1D8DFC;
}


.pagination > li > a, .pagination > li > span {
    color: #333;
    cursor: pointer;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color: #333;
    background: #eee;
}

/*日期字段*/
.dateTimeReadOnly {
    background-color: #FFF !important;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}


/*数据字典管理*/
.r-datadic {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
}


.st_tree {
    padding: 10px 0;
    position: relative;
    font-size: 14px;
}
/* 超链接 */
.st_tree a {
    text-decoration: none;
    color: #333;
}
/* 鼠标经过的超链接 */
.st_tree a:hover {
    color: #ff5a10;
    text-decoration: underline;
}
/* 菜单 */
.st_tree ul {
    padding: 0 7px;
    margin: 0;
    position: relative;
}
/* 菜单项 */
.st_tree ul li {
    font-size: 13px;
    color: #222;
    line-height: 20px;
    cursor: pointer;
    list-style: none;
    background: url(../img/st_node.gif) 8px 0px;
    background-repeat: no-repeat;
    padding: 0 0 3px 0px;
}
/* 子菜单 */
.st_tree ul li ul {
    position: relative;
}
/* 子菜单项 */
.st_tree ul li ul li {
    position: relative;
}
/* 子菜单的父节点 */
.st_tree .folder {
    list-style-image: url(../img/st_icon.gif);
    background: url(../img/st_folder.gif) 0px 2px no-repeat;
    background-repeat: no-repeat;
    padding: 0 0 0 20px;
    z-index: 2;
}
/* 展开的父节点 */
.st_tree .open {
    list-style-image: url(../img/st_icon_open.gif);
    background: url(../img/st_folder_open.gif) 0px 2px no-repeat;
    background-repeat: no-repeat;
    padding: 0 0 0 20px;
    z-index: 2;
}


.st_tree > ul > ul:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 20px;
    left: -5px;
    border: 1px dotted #ccc;
    border-width: 0 0 0 1px;
    z-index: 0;
}

.st_tree > ul > ul > ul:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: -2px;
    left: 8px;
    height: 100%;
    border: 1px dotted #ccc;
    border-width: 0 0 0 1px;
    z-index: 0;
}

.st_tree > ul > ul > ul > li {
    position: relative;
}

.st_tree > ul > ul > ul > li:before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 7px;
    height: 0;
    border-top: 1px dotted #ccc;
    z-index: 0;
}

.r-datadic {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden;
}

.r-datadic .r-dd-left {
    position: relative;
    left: 0px;
    top: 0px;
    bottom: 0;
    height: 100%;
    width: 240px;
    font-size: 12px;
    box-shadow: 4px 0px 10px -7px rgba(0,0,0,0.6);
    border-radius: 0 5px 0 0;
    padding: 10px;
    /*overflow-y: auto;*/
}

.r-dd-left .r-dd-title {
    position: fixed;
    background-color: #fff;
    z-index: 10;
}

.r-dd-left .st_tree {
    overflow-y: auto;
    height: calc(100% - 51px);
    margin-top: 51px;
}

.r-dd-left .r-dd-title h3, .r-dd-right h3 {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    border-bottom: 1px solid #e5e5e5;
}

.r-dd-left .r-dd-title p, .r-dd-right p {
    position: relative;
    height: 26px;
    line-height: 26px;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #e5e5e5;
}

.r-dd-left .r-dd-title p i, .r-dd-right p i {
    margin-right: 10px;
    cursor: pointer;
}

.r-dd-left .r-dd-title p i span, .r-dd-right p i span {
    font-size: 14px;
    position: relative;
    top: 2px;
    margin-right: 4px;
}

.r-datadic .r-contain {
    position: absolute;
    top: 0px;
    right: 0px;
    width: calc(100% - 240px);
    height: 100%;
    padding: 10px;
}

.r-dd-right {
    position: relative;
    font-size: 14px;
}

.r-dd-right table thead {
    font-weight: bold;
}

.r-dd-right table tr td:first-child, .r-dd-right table tr td:nth-child(7), .r-dd-right table tr td:nth-child(8) {
    text-align: center;
}

.r-dd-right table tbody tr td .glyphicon {
    cursor: pointer;
}

.dd-col {
    margin: 0px;
    padding: 0px;
}

.dd-col .row {
    margin: 10px 0px;
    padding: 0;
}

.dd-col .row .col-md-3 {
    text-align: right;
}

.dd-col .row .col-md-3 label {
    margin: 0px;
    height: 30px;
    line-height: 28px;
}

.dd-col .row .col-md-8 {
}

/*实景照片*/
.imglist li .imgli-label {
    position: relative;
    padding: 10px 0px 0px 0px;
}

.imglist li .imgli-label i {
    font-size: 13px;
}

.imgli-label i:last-child {
    float: right;
    text-align: right;
}

.imgli-label i input[type="checkbox"] {
    position: relative;
    top: 1px;
    margin-right: 4px;
}


.button-circle {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.5),0 1px 2px rgba(0,0,0,.15);
    background: -webkit-linear-gradient(top,#fff,#c1baba);
    background: linear-gradient(to bottom,#fff,#c1baba);
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #d4d4d4;
    padding: 0 10px;
    font-weight: 300;
    font-size: 16px;
    color: #666;
    text-shadow: 0 1px 1px #fff;
    margin: 0;
    text-decoration: none;
    text-align: center;
    border-radius: 240px;
    box-shadow: inset 0 1px 1px rgba(255,255,255,.5),0 1px 2px rgba(0,0,0,.2);
    width: 90px;
    line-height: 80px;
    height: 90px;
    border-width: 2px;
}

.button-circle:focus, .button-circle:hover {
    color: #666;
    /*background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#fff),color-stop(100%,#dcdcdc));
background: -webkit-linear-gradient(top,#fff,#dcdcdc);
background: linear-gradient(to bottom,#fff,#dcdcdc);*/
    background: #dadada;
    outline: 0;
}

.button-circle:active, .button-circle.active {
    background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#fabb9f),color-stop(100%,#ff5a10));
    background: -webkit-linear-gradient(top,#fabb9f,#ff5a10);
    background: linear-gradient(to bottom,#fabb9f,#ff5a10);
    outline: 0;
    color: #fff;
    border: 2px solid #b77e64;
}

.button-circle.active:hover {
    background: #ff854f;
}

.button-circle:-webkit-any-link {
    cursor: auto;
}

.item-con .glyphicon-arrow-right {
    font-size: 24px;
    position: relative;
    top: 8px;
    color: #6d6865;
    margin: 0px 20px;
}

.btn span {
    margin-right: 4px;
}

.pr30 {
    padding-right: 30px;
}

/*配置管理样式*/
.config-manage {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
}

.cm-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 560px;
    height: 100%;
    box-shadow: 4px 0px 10px -7px rgba(0,0,0,0.6);
}

.cm-left .cml-title {
    position: relative;
    height: 32px;
    border-bottom: 1px solid #ddd;
}

.cml-title select {
    position: relative;
    margin: 4px 6px;
}

.cml-title button {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    background: none;
}

.cml-table {
}

.table tbody tr td span {
    cursor: pointer;
}

.cml-table .table tr td:first-child, .cml-table .table tr td:last-child, .cml-table .table tr td:nth-child(6) {
    text-align: center;
}

.cm-right {
    position: relative;
    top: 0px;
    right: 0px;
    left: 560px;
    width: calc(100% - 560px);
    height: 100%;
    border-left: 1px solid #ddd;
}

.cm-right-top {
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.cm-right-top p {
    line-height: 20px;
}

.cmrt-tips label {
    position: absolute;
    display: inline-block;
}

.cmrt-tips textarea {
    position: relative;
    width: calc(100% - 80px);
    margin-left: 80px;
    display: inline-block;
}

.cmr-con {
    position: relative;
    height: calc(100% - 110px);
}

.cmr-con-title {
    position: relative;
    height: 30px;
    line-height: 28px;
    text-align: right;
    padding: 0px 10px;
    margin: 0px;
}

.cmr-con-title button {
    border: none;
    background: none;
    height: 28px;
}

.cmr-con-title button span {
    margin-right: 4px;
}

.cmr-left {
    position: absolute;
    top: 30px;
    left: 0px;
    bottom: 0px;
    width: 260px;
    border: 1px solid #ddd;
    /*overflow-y: auto;*/
}

.cmr-title {
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    font-weight: bold;
}

.cmr-head {
    position: relative;
    height: 27px;
    line-height: 30px;
    padding: 0px 10px;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    font-weight: bold;
}

.cmr-left input[type="checkbox"] {
    margin: 4px 2px;
}

.cmr-left ul {
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    height: calc(100% - 60px);
    overflow-y: auto;
}

.cmr-left ul li {
    position: relative;
    width: 100%;
}

.cmr-left p {
    margin: 0;
}

.cmr-left li p {
    position: relative;
    display: block;
    color: #333;
    text-indent: 1em;
}

.cmr-left li:hover {
    background: #ccc;
}

.cmr-left ul li:nth-child(2n) {
    background: #f9f9f9;
}
/*
.cmr-left li p:active {
	background: #ccc;
}
*/
.cmr-active {
    background: #ccc;
}

.cmr-left li + li {
    border-top: 1px solid #ddd;
}

.cmr-left li label {
    position: relative;
    display: inline;
}

.cmr-left li label input[type="checkbox"] {
    position: relative;
    top: 3px;
    margin-right: 20px;
}

.cmr-left ul li ul li p {
    text-indent: 2em;
}

.cmr-left ul li ul li ul li p {
    text-indent: 3em;
}

.cmr-left ul li ul li:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 15px;
    width: 1px;
    height: 14px;
    border-left: 1px dotted #ccc;
}

.cmr-left ul li ul li:after {
    content: "";
    position: absolute;
    top: 13px;
    left: 15px;
    width: 8px;
    height: 1px;
    border-top: 1px dotted #ccc;
}

.cmr-left ul li ul li ul li p:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 30px;
    width: 1px;
    height: 14px;
    border-left: 1px dotted #ccc;
}

.cmr-left ul li ul li ul li p:after {
    content: "";
    position: absolute;
    top: 13px;
    left: 30px;
    width: 8px;
    height: 1px;
    border-top: 1px dotted #ccc;
}

.cmr-right {
    position: relative;
    top: 0px;
    left: 260px;
    right: 0px;
    height: calc(100% - 30px);
    width: calc(100% - 260px);
    border: 1px solid #ddd;
}

.cmr-table {
    position: relative;
    height: calc(100% - 30px);
    overflow-y: auto;
}

.cmr-table table {
    position: relative;
    width: 100%;
}

.cmr-table table tbody {
    position: relative;
    height: calc(100% - 200px);
}

.cmr-table table tr {
    height: 26px !important;
    line-height: 26px;
    border-bottom: 1px solid #ddd;
}

.cmr-table table tbody tr:active, .cmr-active {
    background: #ccc !important;
}

.cmr-table table thead {
    font-weight: bold;
}

.cmr-table table tbody tr:nth-child(2n) {
    background: #f7f7f7;
}

.cmr-table table tr td:first-child {
    width: 24px;
    text-align: center;
}

.cmr-table table tr td:nth-child(2) {
    width: 26px;
    text-align: center;
    position: relative;
    top: 0px;
}

.cmr-table table tr td:nth-child(4) {
    width: 40px;
    text-align: center;
}

.cmr-table table tr td:nth-child(5) {
    width: 48px;
    text-align: center;
}

.cmr-table table tr td:nth-child(5) {
    cursor: pointer;
}

.cmr-table table tbody tr input[type="text"] {
    height: 24px;
}

/*变现配置*/
.list-content-bg {
    background: #efefef;
    font-size: 12px;
    color: #333;
    border: solid 1px rgba(0,0,0,.075);
    border-radius: 3px;
}

.list-bg {
    border-bottom: #c1c1c1 1px solid;
    margin-left: 2px;
    margin-top: 2px;
}

.list-bg li {
    display: inline-block;
}

.list-bg li button {
    background: none;
    border: solid 1px #efefef;
    outline: none;
}

.list-bg li button:hover {
    background: none;
    border: solid 1px #ccc;
    outline: none;
}

.list-bg li:after {
    content: "";
    width: 1px;
    display: inline-block;
    background: #b5aa98;
    height: 12px;
    vertical-align: middle;
    box-shadow: #fff 1px 1px 1px;
}

.list-bg li:last-child:after {
    content: "";
    background: none;
    box-shadow: none;
}

.calc-content {
    font-size: 14px;
    color: #333;
    width: 100%;
}

.calc-content {
    display: inline-block;
    padding: 5px 5px;
}

.calc-content textarea {
    vertical-align: top;
    width: 100%;
    padding: 5px 5px;
    resize: vertical;
    display: inline;
}

#mapAddressPanel {
    border: solid 1px;
    background-color: #FFF;
    position: relative;
    top: -100%;
    left: 0px;
    width: 220px;
    max-height: 100%;
    font-size: 12px;
    line-height: 20px;
    overflow: auto;
    color: #666;
}

#mapAddressPanel ul {
    list-style: outside none none;
}

#mapAddressPanel ul li {
    border-bottom: 1px solid #dadada;
    padding: 10px;
}

#mapAddressPanel ul li:hover {
    background-color: #f0f0f0;
}

#mapAddressPanel .res-marker {
    width: 30px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: red;
    font-size: 13px;
    font-weight: bold;
}

#mapAddressPanel .res-address {
    width: 150px;
}

#mapAddressPanel .title {
    font-size: 13px;
    color: #000000;
}

.left {
    float: left;
}

.right {
    float: right;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50% 50% 50% 0;
    background: #ff5a10;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -10px;
    border: solid 1px #980000;
    z-index: -1;
}

.marker-label {
    position: absolute;
    width: 20px;
    text-align: center;
    top: -24px;
    left: -10px;
    color: #fff;
    margin: 0;
}


/*新增案例信息*/
.cases, .tab-content {
    position: relative;
    width: 100%;
}

.cases .tab-panel {
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
    /*max-height:500px;
overflow-y: hidden;*/
}

.cases .r-titletab {
    border-bottom: 1px solid #ccc;
    position: relative;
    line-height: 22px;
    margin-top: 0px;
    font-size: 13px;
}

.cases .r-titletab .r-tab-on {
    border-top: 2px solid #ff5a10 !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
}

.case-infomation {
    padding: 14px 0px;
    position: relative;
}

.case-infomation .row {
    position: relative;
    margin: 0px;
    padding: 0px;
}

#case-detail-container .case-detail-loading {
    width: 200px;
    margin-left: 40%;
    margin-top: 160px;
}

.case-detail-loading img {
    width: 17px;
    height: 17px;
    margin-right: 3px;
}

.case-infomation .row .col-md-2 {
    margin: 0px;
    padding: 0px;
    height: 26px;
    line-height: 26px;
    font-size: 13px;
}

.case-infomation .row .col-md-10 {
    padding: 0px;
    margin-bottom: 10px;
}

.casei-input, .casei-select, .case-detail .casei-select2, .case-detail .casei-input2 {
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
    height: 26px;
}

#case-detail-container {
    height: 378px;
    overflow-y: auto;
}

.case-detail-footer {
    margin-top: 4px;
    border-top: solid 1px #ccc;
    padding-top: 11px;
    text-align: center;
}

.case-detail-footer button {
    width: 220px;
}

.case-info-body {
    height: 394px;
    overflow-y: auto;
}

.case-info-footer {
    text-align: center;
}

.case-info-footer button {
    width: 220px;
}

#case-detail-container table tr td {
    border: solid 1px #eee;
}

.case-detail .casei-select, .case-detail .casei-input, .case-detail .casei-select2, .case-detail .casei-input2 {
    height: 23px;
}

.case-detail .casei-select2, .case-detail .casei-input2 {
    width: 50%;
    float: left;
}

.case-detail .casei-select2 {
    width: 49%;
    margin-left: 1%;
}

.case-detail table {
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
}

.case-detail table tbody tr:hover, .case-detail table tbody tr:focus {
    background: #ccc;
}

.cd-li1 {
    position: relative;
    border-left: 1px dotted #ccc;
    margin-right: 12px;
    height: 13px;
    display: inline-block;
    top: 3px;
}

.cd-li2 {
    height: 13px;
    display: inline-block;
    top: 3px;
    border-left: 1px dotted #ccc;
    margin-right: 12px;
    position: relative;
}

.cd-li2:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 0px;
    border-top: 1px dotted #ccc;
    width: 7px;
}

.case-map {
    position: relative;
    width: 100%;
    height: 391px;
}


/*因子基本信息*/
.factor-basic {
    position: relative;
}

.factor-basic .row {
    position: relative;
    margin-bottom: 10px;
}

.factor-basic .row .col-md-4 input[type="text"] {
    padding: 0px 4px;
}

.factor-basic .row .control-label {
    width: 57px;
    margin: 0;
    padding: 0px;
    text-align: right;
}

.top-title {
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    margin: 0px;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: bold;
}


/*方法测算*/
.method {
    position: relative;
    width: 100%;
}

.me-left {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 500px;
}

.me-left .menu-tree {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 120px;
    height: 100%;
    font-size: 12px;
    padding: 0px 4px 10px 0px;
}

.me-right {
    position: relative;
    width: calc(100% - 128px);
    float: right;
    height: 520px;
}

.me-right .r-titletab {
    margin-top: 0px;
    line-height: 20px;
}

.metab-con {
    position: relative;
    width: 100%;
    /*height:490px;*/
    /*overflow-y:auto;*/
    font-size: 12px;
}
/*比较法计算*/
.compara-calc table {
    position: relative;
    width: 100%;
    margin-bottom: 0px;
}

.compara-calc table tr td {
    text-align: center;
    padding: 3px 2px;
}

.com-table1-input {
    width: 100px;
    display: inline-block;
    text-align: center;
    color: #333;
    height: 23px;
}

.com-table1-input2 {
    width: 50px;
    display: inline-block;
    text-align: center;
    color: #333;
    height: 23px;
}

.com-table1-inputTotal {
    width: 80px;
    display: inline-block;
    text-align: center;
    color: #333;
    height: 23px;
}

.com-table1-input3 {
    width: 60px;
    display: inline-block;
    text-align: center;
    color: #333;
    height: 23px;
}

.com-table1-select {
    width: 100px;
}

.com-table2-select {
    width: 48px;
}

.compara-calc table tr td .glyphicon {
    margin-left: 4px;
}

.compara-calc2 {
    max-height: 173px;
    overflow: hidden;
    margin-top: 10px;
}

.compara-calc2 tbody {
    /*height:150px;*/
    max-height: 150px;
    overflow-y: auto;
}

.compara-calc2 thead {
    /*background:linear-gradient(#fff,#eee,#d9d9d9);
background:-webkit-linear-gradient(#fff,#eee,#d9d9d9);
background:-moz-linear-gradient(#fff,#eee,#d9d9d9);
background:-o-linear-gradient(#fff,#eee,#d9d9d9);*/
    cursor: default;
    /*border-top:1px solid #ccc;*/
}

.compara-calc2 thead tr td {
    text-align: left;
    padding-left: 10px;
}

.compara-calc2 thead tr td .glyphicon {
    color: #555;
    font-size: 12px;
    margin-right: 6px;
    position: relative;
    top: 2px;
}

.compara-calc2 thead tr td small {
    color: #1d8dfc;
    font-size: 12px;
}

.compara-calc2 tbody {
    /*display:none;*/
    border-top: 1px solid #ccc;
}

.compara-calc2 tbody tr:nth-child(2n) {
    background: #f5f5f5;
}

.compara-calc2 tbody tr:hover {
    background: #ddd;
    color: #333;
}

.compara-calc2-all {
    position: relative;
    /*border:1px solid #ccc;*/
    border-top: none;
    /*height:287px;
	overflow-y:auto;*/
    margin-bottom: 20px;
}

.bottom-btn {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
/*成本法*/
.cost-method {
    /*height:520px;*/
}

.cost-method2 {
    /*height:466px;
	overflow-y:auto;*/
    /*border:1px solid #ccc;*/
    margin-bottom: 20px;
}

.cost-method, .cost-method table {
    position: relative;
    width: 100%;
    font-size: 12px;
}

.cost-method > table {
    /*border-spacing: 4px;
border-collapse: inherit;
overflow: hidden;*/
}

.cost-method table thead tr td {
    /*background: #f5f5f5;*/
    text-align: center;
    padding: 1px;
}

.com-table1-input4 {
    width: 80px;
}

.cost-method table tbody tr td .glyphicon {
    font-size: 14px;
    margin-left: 4px;
}

.cost-method .bottom-btn, .mecon .bottom-btn {
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}

.cost-method2 table tbody tr td textarea {
    position: relative;
    width: 98%;
}



.meright-con {
    height: 520px;
}
/*收益法*/
.profit-all {
    position: relative;
    /*height: 220px;
    overflow-y: auto;*/
    /*border: 1px solid #ccc;*/
}

.profit-all .compara-calc2 thead tr td {
    background: none;
    height: 22px;
}

.profit-all .compara-calc2 thead tr {
    height: 24px;
}

.profit-all .compara-calc2 tbody tr + tr {
    margin-top: 4px;
}

.IncomeText {
    position: relative;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 60%;
    height: 25px;
    background: none;
    margin-left: 6px;
}


/*案例选择*/
.case-select {
    position: relative;
    width: 100%;
    font-size: 12px;
}

.case-box {
    position: relative;
    width: 100%;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.case-box title {
    position: absolute;
    top: -10px;
    left: 10px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    background: #fff;
    padding: 0px 4px;
}

.case-box .col-md-2 {
    line-height: 30px;
    padding: 0px;
}

.case-box .col-md-2:first-child {
    padding-left: 15px;
}

.case-box .col-md-6 {
    text-align: right;
}

.case-table {
    position: relative;
    border: 1px solid #ccc;
}

.case-table thead {
    background: #ddd;
}

.lab1 {
    position: absolute;
    top: 0px;
    left: 230px;
    width: 10px;
    height: 100%;
    cursor: e-resize;
    z-index: 9999;
}



.ml6 {
    margin-left: 6px;
}


/*报单新增页面样式--02/23/2017*/
.pl0 {
    padding-left: 0;
}

.pr0 {
    padding-right: 0;
}

.font12 {
    font-size: 12px;
}

.font13 {
    font-size: 13px;
}

.font14 {
    font-size: 14px;
}

.panel-heading {
    position: relative;
}

.form-items {
    position: relative;
    width: 100%;
    font-size: 12px;
}

.form-item-title {
    position: relative;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    margin: 6px 0 !important;
    line-height: 36px !important;
    border-bottom: 1px dashed #ccc;
    padding-left: 10px !important;
}

.form-item-title:before {
    content: "";
    width: 4px;
    height: 14px;
    background: #1D8DFC;
    position: absolute;
    left: 0;
    top: 11px;
}

.form-items .row .col-md-3, .form-items .row .col-md-1,
.form-items .row .col-md-2, .form-items .row .col-md-5,
.form-items .row .col-md-7, .form-items .row .col-md-11 {
    margin-bottom: 6px;
    line-height: 28px;
}

.form-items .row .col-md-11 {
    margin-bottom: 6px;
}

.form-items .row .col-md-6, .form-items .row .col-md-7 {
    line-height: 28px;
}

.form-items .row .col-md-1, .form-items .row .col-md-2 {
    position: relative;
    text-align: right;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
}

.row .col-md-1, .form-items .row .col-md-2 {
    position: relative;
    text-align: left;
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
}


@media (max-width:992px) {
    .form-items .row .col-md-1, .form-items .row .col-md-2 {
        text-align: left;
        padding: 0 15px;
        margin-bottom: 0px;
    }

    .item-con .col-md-1 small, .item-con .col-md-2 small {
        text-align: left !important;
    }
}

.form-items .row .col-md-1 label {
    position: relative;
    display: inline-block;
    line-height: 28px;
}
/*.form-items .row .col-md-3 input[type="radio"],
.form-items .row .col-md-2 input[type="radio"],
.form-items .row .col-md-6 input[type="radio"],
.form-items .row .col-md-2 input[type="checkbox"],
.form-items .row .col-md-5 input[type="checkbox"],
.form-items .row .col-md-1 input[type="checkbox"]{
	position: relative;
	top:1px;
	margin-right: 2px;
}*/
.form-items .btn-groups {
    position: relative;
    text-align: right;
    margin-top: 10px;
}

.form-items .btn-groups button + button {
    margin-left: 20px;
}

/*装订检查列表--02/24/2017*/
.book {
    position: relative;
    width: 100%;
    padding: 15px;
}

.book .col-md-12 {
    line-height: 30px;
    padding: 0;
}

.book .pagination {
    margin: 0;
}

/*项目流程--02/25/2017*/
/*.process {
    position: relative;
    width: 100%;
    text-align: center;
}

    .process ul {
        position: relative;
        left: 50px;
        height: 10px;
        margin: 60px 0;
        display: inline-block;
    }

.process-item {
    display: inline-block;
    position: relative;
    top: -31px;
    left: -35px;
    width: 70px;
    height: 70px;
    background: #bfbfbf;
    border: 5px solid #eee;
    border-radius: 50%;
    text-align: center;
    z-index: 0;
}

    .process-item:before {
        content: "";
        position: absolute;
        top: 25px;
        left: -15px;
        width: 15px;
        height: 10px;
        background: #eee;
        border: 3px solid #eee;
        border-left: none;
        border-right: none;
        z-index: 9;
    }

    .process-item:after {
        content: "";
        position: absolute;
        top: 25px;
        right: -15px;
        width: 15px;
        height: 10px;
        background: #eee;
        border: 3px solid #eee;
        border-left: none;
        border-right: none;
        z-index: 9;
    }

    .process-item:first-child:before, .process-item:last-child:after {
        content: "";
        width: 0;
    }

.process ul li + li {
    margin-left: 20px;
}

.process-item a {
    color: #444;
    text-decoration: none;
    display: block;
    line-height: 60px;
}

.process-item span {
    position: absolute;
    bottom: -30px;
    left: -3px;
    text-align: center;
    width: 120%;
    font-size: 11px;
}

.process-item p {
    position: absolute;
    top: -28px;
    left: -15px;
    text-align: left;
    width: 100%;
    font-size: 11px;
    transform: scale(0.8);
    white-space: nowrap;
}

.process-item.pro-active {
    background: #1D8DFC;
}

.process-item.pro-active2 {
    background: #7dbbf7;
}

    .process-item.pro-active2:before, .process-item.pro-active2:after {
        background: #7dbbf7;
    }

    .process-item.pro-active a, .process-item.pro-active2 a {
        color: #fff;
    }

.process-item.pro-active:before, .process-item.pro-active:after {
    background: #1D8DFC;
}*/

/*项目流程--11/03/2017*/
.process {
    position: relative;
    width: 100%;
    height: 130px;
    text-align: center;
}

.process-item {
    display: inline-block;
    position: relative;
    width: 85px;
    height: 130px;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
}

.process-item a {
    color: #444;
    text-decoration: none;
    display: block;
    line-height: 60px;
    font-size: 12px;
    border-radius: 50%;
    -webkit-border-radius:: 50%;
    z-index: 10;
    width: 70px;
    height: 70px;
    background: #bfbfbf;
    border: 5px solid #eee;
    margin: 0 7px;
    position: relative;
    top: 30px;
}

.process-item a:before {
    content: "";
    position: absolute;
    top: 25px;
    left: -15px;
    width: 15px;
    height: 10px;
    background: #eee;
    border: 3px solid #eee;
    border-left: none;
    border-right: none;
    z-index: 9;
}

.process-item a:after {
    content: "";
    position: absolute;
    top: 25px;
    right: -15px;
    width: 15px;
    height: 10px;
    background: #eee;
    border: 3px solid #eee;
    border-left: none;
    border-right: none;
    z-index: 9;
}

.process-item:first-child a:before, .process-item:last-child a:after {
    content: "";
    width: 0;
}

.process-sub > .process-item:first-child > a:before,
.process-sub > .process-item:last-child > a:after {
    content: "";
    width: 0;
}

.process ul li + li {
    margin-left: 20px;
}

.process-item span {
    position: absolute;
    bottom: 0px;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 12px;
    line-height: 30px;
}

.process-item p {
    position: absolute;
    top: 0px;
    left: -7px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    /*width:90px;*/
    line-height: 30px;
    transform: scale(0.8);
    white-space: nowrap;
    height: 30px;
    margin-bottom: 0;
}

.process-item.pro-active > a {
    background: #1D8DFC;
}

.process-item.pro-active a {
    color: #fff;
}

.process > .process-item.pro-active > a:before,
.process > .process-item.pro-active > a:after {
    background: #1D8DFC;
}

.process-sub > .process-item.pro-active > a:before,
.process-sub > .process-item.pro-active > a:after {
    background: #1D8DFC;
}

.process-item.pro-active2 > a {
    background: #86c2fd;
    color: #fff;
}

.process > .process-item.pro-active2 > a:before,
.process > .process-item.pro-active2 > a:after {
    background: #86c2fd;
}

.process-sub > .process-item.pro-active2 > a:before,
.process-sub > .process-item.pro-active2 > a:after {
    background: #86c2fd;
}

.process-two {
    cursor: pointer;
}

.shadow a {
    box-shadow: 2px 2px 0px #999;
}

.process-sub {
    position: absolute;
    top: 134px;
    left: 13px;
    min-width: 100%;
    padding: 0px 20px 0px 0;
    background-color: rgba(0,0,0,.4);
    z-index: 9;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #fff;
    padding: 5px 10px;
    display: box;
    display: -webkit-box;
    white-space: nowrap;
}

.process-sub:before {
    content: '';
    height: 0;
    width: 0;
    display: block;
    border: 8px transparent solid;
    border-top-width: 0;
    border-bottom-color: rgba(0,0,0,.4);
    position: absolute;
    top: -8px;
    left: 21px;
}





.panel-footer {
    position: relative;
}

.panel-footer .btn-groups-right {
    position: absolute;
    right: 15px;
    top: 10px;
}

.btn-groups-right {
    position: absolute;
    right: 15px;
    top: 4px;
}

.col-md-4 .select-half, .col-md-8 .select-half {
    width: 49%;
    display: inline-block;
}

.process-p {
    position: absolute;
    width: 125px;
    top: 56px;
    left: 0;
    display: inline-block;
    font-size: 12px;
}

/*盖章信息--02/27/2017*/
.stamp-table {
    position: relative;
    width: 100%;
}

.stamp-table tr td {
    padding-bottom: 5px;
}

.stamp-table tr td:nth-child(3) {
    padding-right: 10px;
}

.item-con .col-md-1 small, .item-con .col-md-2 small, .item-con .col-md-4 small {
    /* width: 100%; */
    /* text-align: right; */
    /* padding-right: 0px; */
    /* position: relative; */
    /* display: block; */
    /* line-height: 28px; */
    /* font-size: 12px; */
    /* padding-right: 10px; */
    /* overflow: hidden; */
    /* white-space: nowrap; */
}

.item-con .form-input {
    width: 100%;
    height: 28px;
    font-size: 12px;
    line-height: 1.3;
    color: #555;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}



/*改版新样式--03/03/2017*/

body {
    /*background: none repeat scroll 0 0 #f4f4f4;*/
    font-size: 12px;
}

.flexible-box {
    overflow-x: auto;
}

.flexible-box .table {
    min-width: 100%;
}

.col-md-12.flexible-box table {
    margin-bottom: 10px;
}

.flexible-box .table tr td, .flexible-box .table tr th {
    word-break: keep-all;
    white-space: nowrap;
}

.flexible-box .pagination {
    margin: 0 !important;
    position: relative;
    top: 2px;
}

.flexible-box + .record {
    margin-top: 20px;
}
/*表格样式*/
.table {
    position: relative;
    /*width:100%;*/
    font-size: 12px;
}

.table thead tr {
    font-weight: bold;
    border-bottom: 2px solid #dddddd;
}

.table tbody tr td .fa {
    font-size: 14px;
    cursor: pointer;
}

.td-items {
    display: inline-block;
    cursor: pointer;
    margin: 0px 2px;
}

.td-items + .td-items {
    margin: 0px 2px;
}

.nav-tabs .btn {
    margin-top: 3px;
}

.btn .fa {
    margin-right: 3px;
}

/*复选框样式*/
.checkbox-custom {
    position: relative;
    padding: 0 0 0 25px;
    margin-bottom: 0px;
    margin-top: 0;
}

.form-group .checkbox-custom.checkbox-inline {
    margin-top: 7px;
    padding-top: 0;
}

.checkbox-custom.checkbox-inline {
    display: inline-block;
    vertical-align: middle;
}

.checkbox-custom input[type="checkbox"] {
    opacity: 0;
    position: absolute !important;
    top: 50%;
    left: 3px;
    margin: -6px 0 0 0;
    z-index: 2;
    cursor: pointer;
}

.checkbox-custom input[type="checkbox"][disabled] {
    cursor: not-allowed;
}

.checkbox-custom input[type="checkbox"][disabled] .checkbox-custom label:before {
    background: #ccc;
}

.checkbox-custom label {
    cursor: pointer;
    margin-bottom: 0;
    text-align: left;
    line-height: 1.2;
    font-weight: normal;
}

.checkbox-custom label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -9px;
    width: 19px;
    height: 18px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #bbb;
    background: #fff;
}

.checkbox-custom input[type="checkbox"]:checked + label:after {
    position: absolute;
    display: inline-block;
    font-family: 'FontAwesome';
    content: '\F00C';
    top: 50%;
    left: 4px;
    margin-top: -5px;
    font-size: 11px;
    line-height: 1;
    width: 16px;
    height: 16px;
    color: #333;
}
/*单选框样式*/
.radio-custom {
    position: relative;
    padding: 0 0 0 25px;
    /*margin-bottom: 7px;*/
    margin-top: 0;
}

.form-group .radio-custom.radio-inline {
    margin-top: 6px;
    padding-top: 0;
}

.radio-custom.radio-inline {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    padding-top:0px;
}

.radio-custom input[type="radio"] {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 3px;
    margin: -6px 0 0 0;
    z-index: 2;
    cursor: pointer;
}

.radio-custom label {
    cursor: pointer;
    margin-bottom: 0;
    text-align: left;
    line-height: 1.2;
    font-weight: normal;
}

.radio-custom label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -9px;
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid #bbb;
    background: #fff;
}

.radio-custom input[type="radio"]:checked + label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 4px;
    margin-top: -5px;
    display: inline-block;
    font-size: 11px;
    line-height: 1;
    width: 10px;
    height: 10px;
    background-color: #1d8dfc;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 1px #1d8dfc;
    box-shadow: 0px 0px 1px #1d8dfc;
}

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
    margin-left: 0;
}

.checkbox-inline, .radio-inline {
    margin-right: 10px;
}

/*操作记录--03/08/2017*/
.record {
    position: relative;
    width: 100%;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    box-shadow: 2px 2px 2px #ddd;
    /*margin-top: 20px;*/
}

.record h3 {
    position: relative;
    width: 100%;
    height: 30px;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    padding: 0px 10px;
    margin: 0;
    line-height: 30px;
    background: rgba(245,245,245,0.8);
}

.record h3 .fa {
    font-size: 15px;
    margin-right: 6px;
}

.record table {
    margin: 0px 1%;
    width: 98%;
}

.record table tr td {
    text-align: center;
}

.col-md-4 .input-half {
    width: 48%;
    display: inline-block;
}

/*新建报单-权证图片上传--05/04/2017*/
.imglist1 {
    position: relative;
    /*margin-top:37px;*/
}

.imglist1 li {
    width: 55px;
}

.imglist1 li img {
    height: 60px;
}

.imglist2 {
    position: relative;
    /*margin-top:37px;*/
}

.imglist2 li {
    width: 110px;
}

.imglist2 li img {
    height: 150px;
    width: 150px;
}

.imglist2 li span {
    width: 180px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imglist2 li p i {
    font-size: 12px;
    width: 100%;
    height: 20px;
    text-align: center;
}

.imglist2 li p i .glyphicon-trash {
    display: inline-block;
    width: auto;
}

#divGreen p i label {
    display: inline;
    text-align: left;
}


/*折叠按钮*/
.panel-title .fa-chevron-right, .panel-title .fa-chevron-down {
    position: relative;
    top: 0px;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
    color: #1D8DFC;
}


/*项目详情页面样式--（05/22/2017）*/
.detial-div {
    position: relative;
}

.detial-div .panel-default > .panel-heading {
    background: none;
    color: #333 !important;
}

.detial-div .panel-title i {
    position: relative;
    color: #1D8DFC;
}


.text-pre {
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-radius: 0px;
    min-height: 50px;
    max-height: 100px;
    overflow-y: auto;
    font-family: "微软雅黑";
    font-size: 12px;
}

.detial-div .itemdiv .nav-tabs > li > a {
    color: #333;
}

.inline-block {
    display: inline-block !important;
}

.backorder-table {
    width: 900px;
}

.backorder-table tr th, .backorder-table tr td {
    word-break: keep-all;
}


.tree-content {
    position: relative;
}

.tree-content .row .col-md-12, .tree-content .row .col-md-6 {
    color: #333;
}

.tree-content .row .col-md-12 .entire-label, .tree-content .row .col-md-6 .entire-label {
    color: #999;
}

.tree-content .row .col-md-12 .entire-label {
    margin-right: 4px;
    vertical-align: top;
}

.tree-content .row .col-md-12 {
    position: relative;
    width: 100%;
}

.tree-content .row .col-md-12 .entire-remain {
    width: calc(100% - 128px);
    position: relative;
    display: inline-block;
}

.fieldbox {
    position: relative;
    border: 1px solid #eee;
    margin-top: 10px !important;
}

.fieldbox .panel-heading {
    padding: 5px 10px;
    background-color: #f5f5f5;
    text-align: right;
}


/*个人设置修改*/
.person-setting .panel-body .item-con .col-md-2 {
    margin-left: 20%;
}

.person-setting .panel-body .btn-groups {
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.person-setting .radio-custom.radio-inline {
    vertical-align: top;
}

/*图片上传按钮*/
.upload-img {
    position: relative;
    display: inline-block;
}

.upload-img input[type='file'] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 28px;
    z-index: 9;
}

.upload-img .btn {
    position: relative;
    z-index: 9;
}

.mtop10 {
    margin-top: 10px;
}

.nobg {
    background: none !important;
}

.pt0 {
    padding-top: 0px;
}

.pb0 {
    padding-bottom: 0;
}

.mt0 {
    margin-top: 0px;
}

.mb0 {
    margin-bottom: 0px;
}

.no-shadow {
    box-shadow: none;
}

.grey-small .col-md-1 small, .grey-small .col-md-2 small {
    color: #999;
}

.item-con .table-striped {
    line-height: initial;
}

.icon-circles {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid red;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 14px;
    color: red;
}


.panel-body .form-inline .form-control, .panel-body .form-inline .btn-default2, .panel-body .form-inline .btn-default {
    margin: 5px;
}

/*工作流设计器*/
.workflow-designer-wrap {
    /*height: 450px;*/
}

#workflow-designer {
    float: left;
    /*max-height: 500px;*/
}

.fold {
    width: calc(100% - 324px) !important;
}

.unfold {
    width: calc(100%) !important;
}

.myForm {
    display: block;
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
    border: #ccc 1px solid;
    font: 12px Arial, Helvetica, sans-serif;
}

.myForm .form_title {
    background: #428bca;
    padding: 4px;
    color: #fff;
}

.myForm .form_title i {
    margin-right: 4px;
}

.myForm .property-panel {
    margin-bottom: 1px;
}

.myForm .form_content {
    padding: 3px;
    background: #fff;
}

.myForm .form_content .formInput {
    width: 220px;
    padding: 3px;
    border: 0;
}

.myForm .form_content table {
    border: 0px
}

.myForm .form_content table tr {
    margin-bottom: 2px;
}

.myForm .form_content table td {
    border: 1px solid #eee;
}

.myForm .form_content table .th {
    width: 90px;
    text-align: right;
    font-weight: bold
}

.myForm .form_btn_div {
    text-align: center;
    border-top: #ccc 1px solid;
    background: #f5f5f5;
    padding: 4px;
    border-radius: 0px 0px 3px 3px;
}

.processInput {
    width: 180px !important;
}

.processBtn {
    width: 36px;
    margin: 0px;
    border: 1px solid #c4e5ff;
    background-color: #c4e5ff;
}

.processBtn:hover {
    border: 1px solid #337ab7;
    background-color: #337ab7;
    cursor: pointer;
    color: #fff;
}

#property-form {
    float: right;
    width: 320px;
    margin-left: 4px;
}

.repeatDiv {
    margin-top: 10px !important;
    background: #f5f5f5;
}

.repeatDiv .more-btns {
    padding-right: 10px !important;
    padding-top: 10px !important;
}

.tree-branch {
    margin-left: 5px;
}

.tree-branch:before {
    content: "";
    width: 1px;
    height: 6px;
    border-left: 1px dotted #ccc;
    margin-right: 20px;
}

.tree-branch:after {
    content: "";
    position: fixed;
    width: 12px;
    height: 1px;
    border-top: 1px dotted #ccc;
    margin-top: 8px;
    margin-left: -20px;
}

.stage-order {
    color: #005fff;
    margin-left: 4px;
}

.modal-narrow {
    width: 350px;
}

.modal-narrower {
    width: 340px;
}

/*进度条样式*/
.allot .fa {
    display: inline-block;
    font-size: 20px;
    position: relative;
    top: 1px;
    cursor: pointer;
}

.fa-times-circle-o {
    color: #666;
    margin: 0 10px;
    font-size: 22px;
}

.allot-cell {
    display: inline-block;
    float: left;
    margin-bottom: 10px;
}

.allot-cell {
    margin-right: 10px;
    width: 435px;
}

.allot-tit {
    display: inline-block;
    float: left;
    margin-right: 14px;
}

.allot-progress {
    position: relative;
    width: 130px;
    margin: 9px 5px;
    float: left;
}

.allot-progressbg {
    height: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f2f2f2;
}

.allot-progressbar {
    background: #1D8DFC;
    width: 0;
    height: 10px;
    border-radius: 5px;
}

.allot-progressbtn {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    position: absolute;
    background: #fff;
    left: 0px;
    margin-left: -10px;
    top: -5px;
    cursor: pointer;
    border: 1px #ddd solid;
    box-sizing: border-box;
}

.progressbtn:hover {
    border-color: #F7B824;
}

.allot-text {
    float: left;
    display: inline-block;
    line-height: 28px;
    margin-left: 10px;
}

/*按钮hover 背景灰色*/
.special-btn {
    position: absolute;
    top: 0px;
    left: 244px;
    height: 28px;
    width: 30px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

.special-btn:hover {
    background-color: #ddd;
    cursor: pointer;
}

/*项目选取案例*/
/*.form-items ul {
}

    .form-items ul li {
        width: 30%;
        float: left;
    }

        .form-items ul li .case-left {
            float: left;
        }

        .form-items ul li .case-right {
            float: left;
        }*/

.middle {
    display: -webkit-box; /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法： Chrome 21+ */
    display: flex; /* 新版本语法： Opera 12.1, Firefox 22+ */
    /*垂直居中*/
    /*老版本语法*/
    -webkit-box-align: center;
    -moz-box-align: center;
    /*混合版本语法*/
    -ms-flex-align: center;
    /*新版本语法*/
    -webkit-align-items: center;
    align-items: center;
    /*水平居中*/
    /*老版本语法*/
    -webkit-box-pack: center;
    -moz-box-pack: center;
    /*混合版本语法*/
    -ms-flex-pack: center;
    /*新版本语法*/
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0;
}

.panel {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-body {
    padding: 10px;
}

.panel-heading {
    color: #FFFFFF !important;
    background-color: #86c2fd;
    border: 1px solid #fff;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
}

.panel-default > .panel-heading {
    color: #fff;
    background-color: #86c2fd;
}

.detial-div .panel-default > .panel-heading {
    border-color: transparent;
}

.input-sm {
    height: 28px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 4px 10px;
    font-size: 12px;
    height: 28px;
    line-height: 1.22857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

@media (min-width: 768px) {
    .form-inline .form-control {
        display: inline-block;
        width: auto;
    }
}

@media (min-width: 768px) and (max-width: 1365px) {
    .modal-lg {
        width: 900px;
    }
}

@media (min-width: 1366px) {
    .modal-lg {
        width: 1300px;
    }
}

select.input-sm {
    height: 28px;
    line-height: 28px;
}

.btn {
    height: 28px;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    line-height: normal;
}

.btn-primary {
    color: #1D8DFC;
    background-color: #c4e5ff;
    border-color: #c4e5ff;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #1D8DFC;
    border-color: #1D8DFC;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    color: #1D8DFC;
    background-color: #c4e5ff;
    border-color: #c4e5ff;
}

.btn-default:hover {
    color: #1D8DFC;
    background-color: #c4e5ff;
    border-color: #c4e5ff;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    color: #fff;
    background-color: #1D8DFC;
    border-color: #1D8DFC;
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
    color: #1D8DFC;
    background-color: #c4e5ff;
    border-color: #c4e5ff;
}



.table {
    margin-bottom: 0px;
}
.table-striped > tbody > tr {
    border-bottom: 1px solid #ccc;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px;
    /* line-height: 1.42857143; */
    vertical-align: top;
    border-top: 1px solid #ddd;
}

/*分頁樣式*/
.select-page {
    -webkit-appearance: none;
    border: 1px solid #ccc;
}

input.select-page:focus {
    border: 1px solid #66afe9;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.specing {
    margin: 0px 5px;
}

/*业务进度条*/
.stage {
    height: 22px;
    display: inline-block;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor:default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #f2f2f2;
    border-radius: 0px;
}

.stage-parent {
    background-color: #0092ca;
    cursor: pointer;
}

.stage-child {
}

.btn-xs.btn-arrow-right:after, .btn-xs.btn-arrow-left:after, .btn-group-xs > .btn-arrow-left:after, .btn-group-xs > .btn-arrow-right:after {
    right: -8px;
}

.btn-xs.btn-arrow-right, .btn-xs.btn-arrow-left, .btn-group-xs > .btn-arrow-left, .btn-group-xs > .btn-arrow-right {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2px;
}

.btn-link:hover, .btn-link:focus {
    color: none;
    background-color: none;
    text-decoration: none;
    border: 1px solid #f2f2f2;
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: #f2f2f2;
}
.FinanceNum {
    padding-right: 20px;
    text-align: right;
}