
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Open Sans', sans-serif;
	background:#fff;
}
.wrap{
	width:100%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}
.header{
	background: #FFF;
	padding: 2% 0;
}
.single-header{
	background: #FFF;
	padding:2% 0 1.6% 0;
	border-bottom: 1px solid #EBEBEB;
}
.logo {
	float:left;
	width: 16.5%;
}
.header-right{
	float:right;
	padding-top:10px;
	width: 62.5%;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/*--menu--*/
#cssmenu {
  float: left;
	color: #000;
	margin-right:6.6%;
	padding-top: 5px;
	width: 70.5%;
}
#cssmenu > ul > li {
  display: inline-block;
  z-index: 99;
  position: relative;
}
#cssmenu > ul > li > a {
  color:#000;
  font-size:0.85em;
  padding:24px 20px;
  -webkit-transition: color .15s;
  -moz-transition: color .15s;
  -o-transition: color .15s;
  transition: color .15s;
  text-transform: uppercase;
}
#cssmenu li.active a, #cssmenu li a:hover{
	 color:#00aeff;
 }
#cssmenu > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  padding: 16px 0 20px 0;
  background-color:#EDF3FC;
  text-align: left;
  position: absolute;
  top:76px;
  left: 50%;
  margin-left: -90px;
  width: 180px;
  -webkit-transition: all .3s .1s;
  -moz-transition: all .3s .1s;
  -o-transition: all .3s .1s;
  transition: all .3s .1s;
 }
#cssmenu > ul > li:hover > ul {
  opacity: 1;
  top:75px;
  visibility: visible;
}
#cssmenu > ul > li > ul:before {
  content: '';
  display: block;
  border-color: transparent transparent #EDF3FC transparent;
  border-style: solid;
  border-width: 10px;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
}
#cssmenu > ul ul > li {
  position: relative;
}
#cssmenu ul ul a {
  color: #323232;
  font-size:0.85em;
  background-color:#EDF3FC;
  padding: 5px 8px 7px 16px;
  display: block;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s;
}
#cssmenu ul ul > li:hover > ul {
  opacity: 1;
  left: 190px;
  visibility: visible;
}
#cssmenu ul ul a:hover {
  color:#000;
}
.search_box{
	float: left;
	background:#f1f3f6;
   -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	padding:5px 10px;
	position: relative;
	cursor: pointer;
	width: 19.5%;
}
.search_box img {
	vertical-align: middle;
	margin-right: 10px;
}
.search_box form input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size: 0.85em;
	color:#999;
	width:87%;
	font-family: 'Open Sans', sans-serif;
	-webkit-apperance: none;
}
.search_box form input[type="submit"] {
	border: none;
	cursor: pointer;
	background: url(../images/search.png) no-repeat 0px -5px;
	position: absolute;
	right: 0;
	width:31px;
	height:33px;
	outline: none;
}
/**** Slider *****/
.banner-wrap{
	width:77%;
	margin:0 auto;
	padding:6% 0;
}
.index-banner{
	background:#31333e;
	height: 603px;
}
.wmuSlider {
	position: relative;
	overflow: hidden;
}
.wmuSlider .wmuSliderWrapper article {
	position: relative;
	text-align: center;
}
.wmuGallery .wmuGalleryImage {
	position: relative;
	text-align: center;
}
.wmuGallery .wmuGalleryImage img {
	max-width: 100%;
	width: auto;
	height: auto;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.wmuSliderPrev, .wmuSliderNext {
	position: absolute;
	width: 68px;
	height: 58px;
	text-indent: -9999px;
	background: url(../images/img-sprite.png) no-repeat;
	top:45%;
	z-index: 2;
	cursor: pointer;
}
.wmuSliderPrev {
	background-position:20px 3px;
	left:-30px;
}
.wmuSliderNext {
	background-position:-46px 3px;
	right:-30px;
}
.span_2_of_3 h1{
	color:#fff;
	font-size:2.7em;
}
.banner{
	text-align: center;
}
.btn a{
	border: none;
	float:left;
	color:#fff;
	cursor: pointer;
	padding:20px 62px;
	display: inline-block;
	font-size: 1.2em;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	background:#00aeff;
}
.btn a:hover{
	background:#00a2ee;
}
/*--content--*/
/*  GRID OF THREE   ============================================================================= */
.content-top{
	padding: 7% 0 5% 0;
}
.col_1_of_3{
	display: block;
	float: left;
	margin: 0% 0 0% 5.6%;
	text-align: center;
}
.col_1_of_3:first-child { margin-left: 0; }
.span_1_of_3  p  {
	font-size: 0.85em;
	padding: 0.5em 0;
	color: #999;
	line-height: 1.8em;
}
.span_1_of_3 .btn-link{
	padding-top:10px;
}
.span_1_of_3 .btn-link a{
	color:#00aeff;
	cursor:pointer;
	font-size:0.85em;
	text-transform: uppercase;
	-webkit-transition: all 0.2s ease!important;
	-moz-transition: all 0.2s ease!important;
	-o-transition: all 0.2s ease!important;
	transition: all 0.2s ease!important;
}
.span_1_of_3 .btn-link a:hover{
	color:#333;
}
/*--content-bottom--*/
/*  GRID OF FOUR   ============================================================================= */
.content-bottom{
	background:#e2e7ed;
	padding: 4% 0;
}
.col_1_of_4{
	display: block;
	float:left;
	margin:0 0 0 1.6%;
}
.col_1_of_4:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
.span_1_of_4 {
	width:23.8%;
}
.span_1_of_4 img{
	border: 1px solid #f0f0f0;
	padding: 5px;
	background:#fff;
}
.text{
	text-align:center;
}
.text h4{
	padding: 10px 0;
}
.text h4 a{
	color: #00AEFF;
	font-size: 1em;
	text-transform:uppercase;
}
.text h4 a:hover{
	color:#333;
}
.text p{
	color:#999;
	font-size:0.85em;
}
.bottom-box{
	margin-bottom:30px;
}
.imageOuter {
	width: 350px;
	float: left;
	margin: 0 37px 0 0;
}
span.rollover {
	opacity: 1;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	background: url(../images/magnifier.png) center center no-repeat #0A95DD;
	cursor: pointer;
	height: 253px;
	width: 313px;
	position: absolute;
	z-index: 10;
	opacity: 0;
}
span.rollover:hover {
	opacity: .7;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	-webkit-box-shadow: 0px 0px 4px #000;
	-moz-box-shadow: 0px 0px 4px #000;
	box-shadow: 0px 0px 4px #000;
}
h2.head{
	color:#555;
	font-size:2em;
	margin-bottom:20px;
}
/*--thumbs--*/
.clients{
	padding:4% 0;
}
#jquery-script-menu {
	position: fixed;
	height: 90px;
	width: 100%;
	top: 0;
	left: 0;
	border-top: 5px solid #316594;
	background: #fff;
	-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	z-index: 999999;
	padding: 10px 0;
}
.jquery-script-center {
	width: 960px;
	margin: 0 auto;
}
.jquery-script-center ul {
	width: 212px;
	float:left;
	line-height:45px;
	margin:0;
	padding:0;
	list-style:none;
}
.jquery-script-center a {
	text-decoration:none;
}
.jquery-script-ads {
	width: 728px;
	height:90px;
	float:right;
}
.jquery-script-clear {
	clear:both;
	height:0;
}
.clearout {
	height: 20px;
	clear: both;
}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	width:86%;
	margin: 0 auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
	padding-right:50px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	positon: relative;
}
/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:40px;
	height:50px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
}
.nbs-flexisel-nav-left {
	left: 0px;
	background: url(../images/img-sprite.png) no-repeat -83px 4px;
}
.nbs-flexisel-nav-right {
	right: 0px;
	background: url(../images/img-sprite.png) no-repeat -120px 4px;
}
/*--footer--*/
.footer{
	background: #31333E;
	padding:4% 0;
}
.footer-left {
	float:left;
}
.footer-nav{
	color:#fff;
}
.footer-nav li{
	display:inline-block;
}
.footer-nav li a{
	color:#fff;
	font-size:0.85em;
	margin:0 15px;
}
.footer-nav li a:hover{
	color:#00AEFF;
}
.copy{
	padding-top:20px;
}
.copy p{
	color:#fff;
	font-size:0.85em;
}
.copy p a{
	color:#00AEFF;
}
.copy p a:hover{
	color:#fff;
}
.social {
	float:right;
}
.social ul li:first-child, ol li:first-child {
	margin-top: 0px;
	margin-left: 0;
}
.social li {
	background: none;
	padding:0px 0 0 5px;
	display: inline-block;
}
li.facebook a span {
	height:40px;
	width:40px;
	display: block;
	background: url(../images/img-sprite.png) no-repeat -176px -4px;
}
li.facebook a span:hover {
	opacity:0.8;
}
li.linkedin a span {
	height:40px;
	width:40px;
	display: block;
	background: url(../images/img-sprite.png) no-repeat -222px -4px;
}
li.linkedin a span:hover {
	opacity:0.8;
}
li.twitter a span {
	height:40px;
	width:40px;
	display: block;
	background: url(../images/img-sprite.png) no-repeat -270px -4px;
}
li.twitter a span:hover {
	opacity:0.8;
}
li.pinterest a span {
	height:40px;
	width:40px;
	display: block;
	background: url(../images/img-sprite.png) no-repeat -319px -4px;
}
li.pinterest a span:hover {
	opacity:0.8;
}
li.dribble a span {
	height:40px;
	width:40px;
	display: block;
	background: url(../images/img-sprite.png) no-repeat -366px -4px;
}
li.dribble a span:hover {
	opacity:0.8;
}
li.google a span {
	height:40px;
	width:40px;
	display: block;
	background: url(../images/img-sprite.png) no-repeat -413px -4px;
}
li.google a span:hover {
	opacity:0.8;
}
/*--single--*/
/*  GRID OF Content and sidebar   ============================================================================= */
.single-top{
	padding:4% 0;
}
.cont{
	display: block;
	float:left;
}
.rsidebar{
	display: block;
	float:left;
	margin:0 0 0 4.6%;
}	
.span_2_of_3 {
	width:66.1%;
}
.span_1_of_3 {
	width: 29.2%;
}
.span_2_of_3  h3,
.span_1_of_3  h3 {
	color: #555;
	margin-bottom: 0.5em;
	font-size: 1.5em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
}
.span_2_of_3 p{
	color:#999;
	font-size:0.85em;
	line-height:1.8em;
	margin:20px 0;
}
.extra{
	color:#999;
	font-size:0.85em;
	padding: 10px 0;
}
.extra a{
	color:#000;
}
.extra a:hover{
	color:#555;
}
.links {
	padding: 10px 0px;
	border: 1px solid #eee;
	border-left: none;
	border-right: none;
	margin: 30px 0 50px 0;
}
.links ul li {
	display: inline-block;
}
.links ul li a {
	font-size:0.85em;
	color: #999;
	padding-left: 20px;
}
.links ul li a:hover{
	color:#555;
}
.links ul li img {
	vertical-align: middle;
	padding-right: 10px;
}
.comment h2{
	color:#555;
	font-size:1.5em;
	margin-bottom:20px;
	text-transform: uppercase;
}
ul.comment-list{
	border:1px solid #eee;
	padding:20px;
}
ul.comment-list img{
	float: left;
	width: 7%;
	margin-right: 20px;
}
ul.comment-list .desc{
	float: left;
	width: 90%;
	margin: 0;
}
ul.comment-list .desc h5 a{
	color:#555;
}
ul.comment-list .desc h5 a:hover{
	color:#000;
}
ul.comment-list .desc p{
	margin:0px;
}
.reply {
	margin-top: 20px;
}
.reply a {
	color:#555;
	font-size:0.85em;
}
.reply a:hover{
	color:#999;
}
.comments-area{
	padding-top:50px;
}
.comments-area h2 {
	color: #555;
	font-size: 1.5em;
	margin-bottom:10px;
	text-transform: uppercase;
}
.comments-area p {
	position: relative;
	padding: 8px 0;
	margin:0;
}
.comments-area label {
	display: block;
	color: #999;
}
.comments-area span {
	color:#00AEFF;
	position: absolute;
	left: 4px;
	top: 30px;
}
.comments-area input[type="text"] {
	padding: 7px 15px;
	width: 47%;
	color: #999;
	font-size: 13px;
	border: none;
	background:#F1F3F6;
	outline: none;
	display: block;
}
.comments-area textarea {
	padding: 7px 15px;
	width: 70%;
	color: #999;
	font-size: 13px;
	outline: none;
	height: 100px;
	display: block;
	border: none;
	background:#F1F3F6;
	font-family: 'Open Sans', sans-serif;
}
.comments-area input[type="submit"] {
	padding:10px 20px;
	color:#fff;
	background:#00AEFF;
	font-size:1em;
	border:none;
	outline:none;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
}
.comments-area input[type="submit"]:hover {
	background:#049FE7;
}
ul.sidebar li {
	list-style-image: url(../images/marker2.png);
	margin: 0 15px 10px;
	vertical-align: bottom;
}
ul.sidebar li a {
	font-size: 0.85em;
	color: #999;
}
ul.sidebar li a:hover{
	color:#555;
}
.archive {
	padding: 20px 0;
}
/*--works--*/
.work-top{
	background: #E2E7ED;
	padding:2% 0;
}
/*  GRID OF TWO   ============================================================================= */
.grid-box{
	background:#908ef3;
	padding: 4% 0;
}
.grid-box1{
	background:#58da9c;
	padding: 4% 0;
}
.grid-box2{
	background:#f4776d;
	padding: 4% 0;
}
.grid-box3{
	background:#edca52;
	padding: 4% 0;
}
.col_1_of_2{
	display: block;
	float:left;
	margin: 1% 0 1% 3.6%;
}
.col_1_of_2:first-child { margin-left: 0; }
.span_1_of_2 {
	width:48.2%;
}
.span_1_of_2 h3{
	color:#fff;
	font-size: 1.2em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	padding: 20px 0;
}
.span_1_of_2  p{
	font-size:0.85em;
	color: #fff;
	line-height: 1.8em;
}
.single-menu{
	float:right;
	padding-top: 20px;
}
.single-menu ul li{
	display: inline-block;
}
.single-menu ul li a {
	color:#000;
	display: block;
	margin:0px 10px;
	letter-spacing: 1px;
	font-size:0.85em;
	font-family: 'Open Sans', sans-serif;
}
.single-left{
	float:left;
}
.single-left h1{
	color:#626262;
	font-size:3em;
}
h4.single-head{
	color: #FFF;
	font-size: 2em;
	margin-bottom: 20px;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/top-move.png) no-repeat right top;
}
/*--blog--*/
.grid_1 {
	width:7.5%;
	float: left;
}
.alpha {
	margin-right:2.6%;
}
.date {
	background:#00AEFF;
	font-size:0.85em;
	line-height: 18px;
	font-weight: 300;
	padding: 11px 10px 12px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
}
.date span {
	display: inline-block;
	margin-bottom: 7px;
	font-size: 30px;
	line-height: 30px;
}
.span_2_of_single{
	width:89.1%;
}
h4.blog_title{
	font-size: 1.2em;
	text-transform: uppercase;
	margin: -5px 0 5px 0;
}
.wrapper_single{
	width: 66.2%;
	float: left;
}
.wrapper_top{
	margin-bottom:6%;
}
h4.blog_title a {
	color:#00AEFF;
}
h4.blog_title a:hover{
	color:#555;
}
.blog_info {
	font-size:0.85em;
	line-height: 18px;
	color:#999;
	margin-bottom: 28px;
}
.blog_info a {
	color:#00AEFF;
}
.blog_info a:hover{
	text-decoration:underline;
}
h5.m_head a{
	color:#00AEFF;
	font-size:0.85em;
	text-transform:uppercase;
}
h5.m_head a:hover{
	color:#555;
}
.m_img{
	margin-bottom: 26px !important;
}
p.m_para{
	color:#999;
	font-size:0.85em;
	line-height:1.8em;
	margin-bottom: 20px;
}
.arrow_btn {
	display: inline-block;
	background: url(../images/arrow_btn.png) no-repeat 51px 15px #B7C0CD;
	padding: 8px 22px 9px 11px;
	color: #FFF;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 400;
	text-align: left;
	transition: 0.2s;
}
.arrow_btn:hover{
	background: url(../images/arrow_btn.png) no-repeat 51px 15px #00AEFF;
	text-decoration: none;
}
.pagination__posts {
	margin: 0;
	text-align: center;
}
.pagination ul {
	display: inline-block;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination ul > li {
	display: inline;
}
.pagination__posts ul li a {
	border-color: #ECECEC;
	color:#00AEFF;
	font-size:0.85em;
}
.pagination ul > li > a, .pagination ul > li > span {

	padding: 4px 12px;
	line-height: 18px;
	text-decoration: none;
	background-color: #FFF;
	border: 1px solid #DDD;
}
.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
	background-color: #F5F5F5;
}
h4.m_2{
	color: #555;
	margin-bottom:20px;
	font-size: 1.5em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
}
/*--about--*/
/*  GRID OF Content and sidebar   ============================================================================= */
.lsidebar{
	display: block;
	float:left;
	margin:0% 1.6% 0% 0;
} 	
.span_2_of_about {
	width: 66.1%;
}
.span_1_of_about {
	width:32.2%;
}
.span_2_of_about  h3 a{
	color:#555;
	margin-bottom:0.5em;
	font-size:1em;
	text-transform:uppercase;
	letter-spacing: -1px;
}
.span_2_of_about  h3 a:hover{
	color:#000;
}
.span_2_of_about p,
.span_1_of_about  p  {
	font-size:0.85em;
	padding:0.5em 0;
	color: #999;
	line-height: 1.8em;
}
.about-desc{
	padding-bottom:4%;
}
.about-desc p{
	font-size:0.85em;
	padding:0.5em 0;
	color: #999;
	line-height: 1.8em;
}
.about-desc h3 a {
	color: #555;
	margin-bottom: 0.5em;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: -1px;
}
.about-desc h3 a:hover {
	color: #000;
}
.button{
	display: inline-block !important;
	padding: 0 15px;
	margin-bottom: 0;
	font-size:0.85em;
	line-height: 45px !important;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #F5F5F5;
	background: #FFF;
	color: #555;
	text-transform: uppercase;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 45px;
	top: 0 !important;
	margin-top: 10px;
}
.button:hover {
	color:#fff;
	background:#00AEFF;
}
.about-top{
	padding-bottom:4%;
}
ul.about-list li {
	list-style-image: url(../images/icon_1.png);
	margin: 0 0px 20px 15px;
}
ul.about-list li a {
	font-size: 0.85em;
	color: #555;
	vertical-align: top;
	text-transform: uppercase;
}
ul.about-list li a:hover {
	color:#000;
}
ul.about-list li p{
	padding:0;
	line-height: 1.5em;
}
.span_1_of_4 h3{
	padding:10px 0;
}
.span_1_of_4 h3 a {
	color: #555;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: -1px;
}
.span_1_of_4 h3 a:hover{
	color: #00AEFF;
}
.span_1_of_4 p{
	font-size: 0.85em;
	color: #999;
	line-height: 1.8em;
}
/*--contact--*/
.contact{
	padding:4% 0;
}
.contact-form{
	position:relative;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.85em;
	color: #999;
	padding-bottom:10px;
}
.contact-form input[type="text"],.contact-form textarea{
	padding:8px;
	display:block;
	width:90%;
	background:#fff;
	border: none;
	outline:none;
	color:#999;
	font-size:0.85em;
	border:1px solid #EBEBEB;
	font-family: 'Open Sans', sans-serif;
	-webkit-appearance:none;
}
.contact-form textarea{
	resize:none;
	height:120px;		
}
.contact-form input[type="submit"]{
	cursor:pointer;
	color:#fff;
	font-size: 1.5em;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	background: #00AEFF;
	padding:17px 80px;
	border:none;
   font-family: 'Open Sans', sans-serif;
   margin-top: 20px;
   -webkit-appearance: none;
}
.contact-form input[type="submit"]:hover{
	background-color:#31333E;
}
.contact-form input[type="submit"]:active{
	background-color:#31333E;
}
.contact-form p{
	color:#999;
	font-size:0.85em;
	margin-bottom:4%;
}
h4.contact-head {
	color:#555;
	font-size: 2em;
	margin-bottom: 20px;
}
.map{
	padding:20px;
	background:#e2e7ed;
	margin-bottom: 5%;
}
.map-border{
	border: 2px solid #FFF;
}
.list3 li>img {
	float: left;
	margin-right: 10px;
}
.company_address{
	overflow: hidden;
}
.company_address h3{
	padding:0;
	color:#555;
}
.company_address p{
	color:#999;
	font-size:0.85em;
	line-height:1.8em;
}
.company_address p span {
	color:#00AEFF;
	cursor: pointer;
}
.company_address p span:hover{
	text-decoration:underline;
}
/*--404--*/
.page-not-found {
	padding:4% 0;
}
.page-not-found h1 {
	font-size: 15em;
	color: #F0F0F0;
	text-align: center;
	text-shadow: 1px 1px 6px #AAA;
	-moz-text-shadow: 1px 1px 6px #aaa;
	-webkit-text-shadow: 1px 1px 6px #aaa;
	-o-text-shadow: 1px 1px 6px #aaa;
}
/*--responsive design--*/
@media (max-width:1366px){
	.wrap{
		width:90%;
	}
	.span_2_of_3 h1 {
		font-size: 2.5em;
	}
	span.rollover {
		height: 240px;
		width: 297px;
	}
	.header-right {
		width: 66.5%;
	}
	#cssmenu > ul > li:hover > ul {
		top:70px;
	}
}
@media (max-width:1280px){
	.wrap{
		width:90%;
	}
	.span_2_of_3 h1 {
		font-size: 2.4em;
	}
	.header-right {
		width: 70.5%;
	}
	span.rollover {
		height: 226px;
		width: 280px;
	}
}
@media (max-width:1024px){
	.wrap{
		width:90%;
	}
	.span_2_of_3 h1 {
		font-size:1.9em;
	}
	.header-right {
		width: 73.5%;
	}
	#cssmenu {
		margin-right:2.6%;
	}
	#cssmenu > ul > li > a {
		padding:0px 10px;
	}
	.btn a {
		padding: 15px 49px;
	}
	.index-banner {
		height: 550px;
	}
	span.rollover {
		height: 185px;
		width: 225px;
	}
	.grid_1 {
		width: 9.5%;
	}
	.span_2_of_single {
		width: 87.1%;
	}
	.single-left h1 {
		font-size: 2.5em;
	}
	.single-menu {
		padding-top: 16px;
	}
	ul.comment-list .desc {
		width: 89%;
	}
	.links ul li a {
		padding-left: 15px;
	}
	#cssmenu > ul > li:hover > ul {
		top:60px;
	}
}
@media (max-width:800px){
	.wrap{
		width:90%;
	}
	.span_2_of_3 h1 {
		font-size:1.5em;
	}
	.header-right {
		width:72.5%;
		padding-top: 4px;
	}
	#cssmenu {
		margin-right:2.6%;
		width: 78.5%;
	}
	#cssmenu > ul > li > a {
		padding:0px 5px;
	}
	.btn a {
		padding:12px 26px;
	}
	.index-banner {
		height:476px;
	}
	span.rollover {
		height: 148px;
		width: 179px;
	}
	.grid_1 {
		width: 9.5%;
	}
	.span_2_of_single {
		width: 87.1%;
	}
	.single-left h1 {
		font-size: 2.5em;
	}
	.single-menu {
		padding-top: 16px;
	}
	.search_box {
		width: 14.5%;
	}
	.footer-nav li a {
		margin: 0 4px;
	}
	ul.comment-list .desc {
		width: 88%;
	}
	.links ul li a {
		padding-left: 15px;
	}
	.contact-form input[type="submit"] {
		padding: 13px 60px;
	}
	#cssmenu > ul > li:hover > ul {
		top:50px;
	}
}
@media (max-width:768px){
	.wrap{
		width:90%;
	}
	.span_2_of_3 h1 {
		font-size:1.4em;
	}
	.header-right {
		width: 75.5%;
		padding-top: 3px;
	}
	#cssmenu {
		margin-right:2.6%;
	}
	#cssmenu > ul > li > a {
		padding:0px 5px;
	}
	.btn a {
		padding:12px 24px;
	}
	.index-banner {
		height:458px;
	}
	span.rollover {
		height: 140px;
		width: 172px;
	}
	.grid_1 {
		width: 9.5%;
	}
	.span_2_of_single {
		width: 87.1%;
	}
	.single-left h1 {
		font-size:2em;
	}
	.single-menu {
		padding-top: 16px;
	}
	.search_box {
		width: 14.5%;
	}
	.footer-nav li a {
		margin: 0 2px;
	}
	ul.comment-list .desc {
		width: 88%;
	}
	.links ul li a {
		padding-left: 15px;
	}
	.contact-form input[type="submit"] {
		padding: 13px 60px;
	}
}
@media (max-width:640px){
	.wrap{
		width:90%;
	}
	.span_2_of_3 h1 {
		font-size:1.4em;
		margin-bottom: 20px;
	}
	.header-right {
		width: 100%;
		float: none;
	}
	#cssmenu {
		margin-right:2.6%;
	}
	#cssmenu > ul > li > a {
		padding:0px 5px;
	}
	.btn a {
		padding:12px 24px;
	}
	.index-banner {
		height:437px;
	}
	span.rollover {
		height: 290px;
		width: 360px;
	}
	.grid_1 {
		width: 9.5%;
	}
	.span_2_of_single {
		width: 87.1%;
	}
	.single-left h1 {
		font-size:2em;
	}
	.single-menu {
		padding-top: 16px;
	}
	.search_box {
		width: 14.5%;
	}
	.footer-nav li a {
		margin: 0 2px;
	}
	ul.comment-list .desc {
		width: 88%;
	}
	.links ul li a {
		padding-left: 15px;
	}
	.contact-form input[type="submit"] {
		padding: 13px 60px;
	}
	.logo {
		float: none;
		width: 100%;
		text-align: center;
	}
	.span_1_of_3 {
		width: 100%;
	}
	.span_1_of_4 {
		width: 100%;
	}		
	.span_2_of_3 {
		width: 100%;
	}
	.footer-left {
		float:none;
	}
	.social {
		float: none;
		padding-top: 20px;
	}
	.footer {
		text-align: center;
	}
	.col_1_of_3 {
		margin:0;
	}
	.rsidebar {
		float:none;
		margin:0;
	}
	.span_2_of_about {
		width: 100%;
	}
	.span_1_of_about {
		width: 100%;
	}
	.lsidebar {
		float:none;
		margin:0;
	}	
	ul.about-list li {
		margin: 0 0px 20px 30px;
	}
	.wrapper_single {
		width: 100%;
		float: none;
	}
	.single-menu ul li a {
		margin: 0px 5px;
	}
	.col_1_of_2 {
		float:none;
		margin:0;
	}
	.span_1_of_2 {
		width: 100%;
	}
	#cssmenu > ul > li:hover > ul {
		top:40px;
	}
}
@media (max-width:480px){
	.wrap{
		width:90%;
	}
	.span_2_of_3 h1 {
		font-size: 1.3em;
		margin-bottom: 20px;
	}
	.header-right {
		width: 100%;
		float: none;
	}
	#cssmenu {
		margin-right:0;
		float:none;
		width: 100%;
	}
	#cssmenu > ul > li > a {
		padding: 0px 5px;
	}
	.btn a {
		padding: 8px 20px;
	}
	.index-banner {
		height:343px;
	}
	span.rollover {
		height: 290px;
		width: 360px;
	}
	.grid_1 {
		width:12.5%;
	}
	.span_2_of_single {
		width:84.1%;
	}
	.single-left h1 {
		font-size:1.7em;
	}
	.single-menu {
		padding-top: 10px;
		float: none;
	}
	.single-left {
		float: none;
	}
	.search_box {
		width: 90%;
		float: none;
		margin-top: 20px;
	}
	.footer-nav li a {
		margin: 0 2px;
	}
	ul.comment-list .desc {
		width: 85%;
	}
	.links ul li a {
		padding-left: 15px;
	}
	.contact-form input[type="submit"] {
		padding: 13px 60px;
	}
	.logo {
		float: none;
		width: 100%;
		text-align: center;
	}
	.span_1_of_3 {
		width: 100%;
	}
	.span_1_of_4 {
		width: 100%;
	}		
	.span_2_of_3 {
		width: 100%;
	}
	.footer-left {
		float:none;
	}
	.social {
		float: none;
		padding-top: 20px;
	}
	.footer {
		text-align: center;
	}
	.col_1_of_3 {
		margin:0;
	}
	.rsidebar {
		float:none;
		margin:0;
	}
	.span_2_of_about {
		width: 100%;
	}
	.span_1_of_about {
		width: 100%;
	}
	.lsidebar {
		float:none;
		margin:0;
	}	
	ul.about-list li {
		margin: 0 0px 20px 30px;
	}
	.wrapper_single {
		width: 100%;
		float: none;
	}
	.single-menu ul li a {
		margin: 0px 3px;
	}
	.col_1_of_2 {
		float:none;
		margin:0;
	}
	.span_1_of_2 {
		width: 100%;
	}
	#cssmenu > ul > li:hover > ul {
		top:40px;
	}
}
@media (max-width:320px){
	.wrap{
		width:90%;
	}
	.span_2_of_3 h1 {
		font-size:1.1em;
		margin-bottom: 20px;
	}
	.header-right {
		width: 100%;
		float: none;
	}
	#cssmenu {
		margin-right:0;
		float:none;
		width: 100%;
	}
	#cssmenu > ul > li > a {
		padding:0px 0px;
		font-size:10px;		
	}
	.btn a {
		padding: 8px 20px;
	}
	.index-banner {
		height:275px;
	}
	span.rollover {
		height:232px;
		width: 360px;
	}
	.grid_1 {
		width:18.5%;
	}
	.span_2_of_single {
		width:78.1%;
	}
	.single-left h1 {
		font-size:1.7em;
	}
	.single-menu {
		padding-top: 10px;
		float: none;
	}
	.single-left {
		float: none;
	}
	.search_box {
		width: 90%;
		float: none;
		margin-top: 20px;
	}
	.footer-nav li a {
		margin: 0 2px;
	}
	ul.comment-list .desc {
		width:84%;
	}
	.links ul li a {
		padding-left: 15px;
	}
	.contact-form input[type="submit"] {
		padding:10px 50px;
	}
	.logo {
		float: none;
		width: 100%;
		text-align: center;
	}
	.span_1_of_3 {
		width: 100%;
	}
	.span_1_of_4 {
		width: 100%;
	}		
	.span_2_of_3 {
		width: 100%;
	}
	.footer-left {
		float:none;
	}
	.social {
		float: none;
		padding-top: 20px;
	}
	.footer {
		text-align: center;
	}
	.col_1_of_3 {
		margin:0;
	}
	.rsidebar {
		float:none;
		margin:0;
	}
	.span_2_of_about {
		width: 100%;
	}
	.span_1_of_about {
		width: 100%;
	}
	.lsidebar {
		float:none;
		margin:0;
	}	
	ul.about-list li {
		margin: 0 0px 20px 30px;
	}
	.wrapper_single {
		width: 100%;
		float: none;
	}
	.single-menu ul li a {
		margin: 0px 0px;
	}
	.col_1_of_2 {
		float:none;
		margin:0;
	}
	.span_1_of_2 {
		width: 100%;
	}
	#cssmenu > ul > li > ul {
		display:none;
	}
	.span_2_of_3 h3, .span_1_of_3 h3, .comment h2, .comments-area h2, h4.contact-head, h4.single-head{
		font-size: 1.2em;
	}
	
}